/* Base styles for elements */

$flow: 1.5;
$highlight: #d6006d;

$primary1: #00a6e0;
$primary2: #007da8;
$primary3: #005370;

$secondary1: #25282b;
$secondary2: #4a4f55;
$secondary3: #d6006d;

$supporting1: #abb7af;
$supporting2: #e6e6e6;

// Base64'd icons - LEAN (TODO: Create better solution for icons)
$quiz: "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTAgMjE0LjIxIj48ZGVmcz48c3R5bGU+LmF7ZmlsbDojMDBhNmUwO30uYntvcGFjaXR5OjAuNTt9LmN7ZmlsbDojNTViZmVhO30uZHtmaWxsOiM0YTRmNTU7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5xdWl6PC90aXRsZT48cGF0aCBjbGFzcz0iYSIgZD0iTTk0LjQ5LDIuNWgwYzUuNTktLjA3LDEwLjE5LDIuNDYsMTAuMjIsNS42bC04LjM0LDEwYzAsMy4xNSw0LDExLjQtMS41NiwxMS40N2gwYy01LjU5LjA2LTIuNjQtOC4yNy0yLjY4LTExLjQyTDg0LjQsOC4zNUM4NC4zNiw1LjIsODguOSwyLjU3LDk0LjQ5LDIuNVoiLz48cG9seWdvbiBjbGFzcz0iYSIgcG9pbnRzPSIxNDAuNTcgNDAuMzEgMTM2LjcyIDM3LjE2IDE0NS4xMiAyNi41IDE0OC45NiAyOS42NCAxNDAuNTcgNDAuMzEiLz48cGF0aCBjbGFzcz0iYSIgZD0iTTM3Ljg2LDIxMC42NGw0LDIuNzZDNDQuMjEsMjE1LDU4LjIsMTk5LjU4LDU4LjIsMTk5LjU4YzIuNDktMy41NS0uMDUtNy43OC0yLjM4LTkuNDFsLTEuNDItMWMtMi4zMy0xLjY0LTcuODctMi0xMC4zNiwxLjU3QzQ0LDE5MC43NCwzNS41MywyMDksMzcuODYsMjEwLjY0WiIvPjxwYXRoIGNsYXNzPSJhIiBkPSJNMTQ3LDIxNC4xbDQuOTMtMi43MmMyLjg5LTEuNTYtNC41MS0yMS40OS00LjUxLTIxLjQ5LTIuMS0zLjg5LTcuNjUtMy4yLTEwLjU0LTEuNjRsLTEuNzYuOTVjLTIuODksMS41Ny02LjI5LDYuNzYtNC4xOSwxMC42NUMxMzAuOTQsMTk5Ljg1LDE0NC4xMiwyMTUuNjYsMTQ3LDIxNC4xWiIvPjxwYXRoIGNsYXNzPSJhIiBkPSJNNjguMzIsMTIuMzdoMEE1LDUsMCwwLDAsNjUuODIsMTAsMzYsMzYsMCwwLDAsOCwzNi40NGMwLC45LS4wNiwxLjc5LDAsMi42OGE1LDUsMCwwLDAsLjQ0LDMuMTMsNS4wNyw1LjA3LDAsMCwwLDYuNzgsMi4yN0w2Ni4wNSwxOS4xNUE1LjA3LDUuMDcsMCwwLDAsNjguMzIsMTIuMzdaIi8+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xNzgsNDAuMTRoMGE1LjA3LDUuMDcsMCwwLDAsLjMyLTMuNCwzNy4xLDM3LjEsMCwwLDAtNi4yMi0yMC4xNEMxNjEtLjEyLDEzOS01LDEyMi44Niw1LjY0Yy0uNzMuNDgtMS40MywxLTIuMSwxLjUzYTQuNjgsNC42OCwwLDAsMC0yLjE2LDIuMTksNS4yMSw1LjIxLDAsMCwwLDIuMzQsNi43OWw1MC40MSwyNi4xNEE0LjgzLDQuODMsMCwwLDAsMTc4LDQwLjE0WiIvPjxwb2x5Z29uIGNsYXNzPSJhIiBwb2ludHM9IjQ5LjggNDAuMjQgNDUuNjIgNDIuOTQgMzguMDQgMzEuNjggNDIuMjEgMjguOTkgNDkuOCA0MC4yNCIvPjxwYXRoIGNsYXNzPSJhIiBkPSJNOTUsMjMuNzZhOTUsOTUsMCwxLDAsOTUsOTVBOTUsOTUsMCwwLDAsOTUsMjMuNzZabS0uNSwxNzUuMWE3OS42NSw3OS42NSwwLDEsMSw3OS42NS03OS42NUE3OS42NSw3OS42NSwwLDAsMSw5NC41LDE5OC44NloiLz48ZyBjbGFzcz0iYiI+PHJlY3QgY2xhc3M9ImMiIHg9IjkwLjEiIHk9IjE3OC4zMiIgd2lkdGg9IjkuMzUiIGhlaWdodD0iMTEuNDgiIHJ4PSI0LjY2Ii8+PHJlY3QgY2xhc3M9ImMiIHg9IjE1MS45NiIgeT0iMTEwLjI2IiB3aWR0aD0iOC4yMiIgaGVpZ2h0PSIxNy42NiIgcng9IjQuMSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjc1LjE2IC0zNi45OCkgcm90YXRlKDkwKSIvPjxwYXRoIGNsYXNzPSJjIiBkPSJNOTUuODIsMTE3Ljk0aDBhNSw1LDAsMCwxLS4yMiw1LjVMNjEuNzMsMTY1LjI4YTIuMzIsMi4zMiwwLDAsMS00LS4zaDBhNSw1LDAsMCwxLC4yMi01LjUxbDMzLjg3LTQxLjg0QTIuMzIsMi4zMiwwLDAsMSw5NS44MiwxMTcuOTRaIi8+PHBhdGggY2xhc3M9ImMiIGQ9Ik0xNDAsMTM0Ljg4bDAsLjEzYTIuNzcsMi43NywwLDAsMS0zLjU4LDJMOTksMTIyLjk0YTMuMzQsMy4zNCwwLDAsMS0xLjc5LTQuMDZsMC0uMTNhMi43NywyLjc3LDAsMCwxLDMuNTgtMmwzNy4zNywxNC4xQTMuMzUsMy4zNSwwLDAsMSwxNDAsMTM0Ljg4WiIvPjxjaXJjbGUgY2xhc3M9ImMiIGN4PSI5NS4zMyIgY3k9IjExOC4yMiIgcj0iMTAuNyIvPjxyZWN0IGNsYXNzPSJjIiB4PSI5MC41MSIgeT0iNDguNjIiIHdpZHRoPSI5LjM1IiBoZWlnaHQ9IjExLjQ4IiByeD0iNC42NiIvPjxyZWN0IGNsYXNzPSJjIiB4PSIyOS4zNSIgeT0iMTExLjQ5IiB3aWR0aD0iOC4yMiIgaGVpZ2h0PSIxNy42NiIgcng9IjQuMSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTUzLjc5IDg2Ljg2KSByb3RhdGUoOTApIi8+PC9nPjxwYXRoIGNsYXNzPSJkIiBkPSJNODYuNTksMTQ1Ljk0VjEzNS44MmEzNS4zOSwzNS4zOSwwLDAsMSwuNjYtNy40NywyMCwyMCwwLDAsMSwyLTUuNCwyMC43MSwyMC43MSwwLDAsMSwzLjU1LTQuNjRjMS40OS0xLjUsMy4zMy0zLjMsNS41NC01LjQsMS43Ni0xLjY2LDMuNTItMy4zNCw1LjI5LTUuMDZhNTQuNjgsNTQuNjgsMCwwLDAsNC43OS01LjMxQTI5LjEsMjkuMSwwLDAsMCwxMTIsOTYuNzNhMTYuMzIsMTYuMzIsMCwwLDAsMS40MS02Ljg5QTE3LjQ5LDE3LjQ5LDAsMCwwLDExMiw4Mi43OGExOCwxOCwwLDAsMC0zLjcyLTUuNTYsMTYuODIsMTYuODIsMCwwLDAtNS41My0zLjY1LDE4LDE4LDAsMCwwLTYuODYtMS4zM3EtOC4xLDAtMTMuMTQsNS4xNWMtMy4zNiwzLjQzLTMuNzQsNy44MS00LjQsMTMuMzRsLTE1LjY1LS4yN0EyOS41NywyOS41NywwLDAsMSw3MS44LDY2LjUyQzc4LjU5LDYwLDg2LjQ4LDU4LjMsOTYuMTgsNTguM2EzOS40MSwzOS40MSwwLDAsMSwxMywyLjA4LDMxLjE3LDMxLjE3LDAsMCwxLDEwLjUsNiwyNy41OCwyNy41OCwwLDAsMSw3LDkuNjMsMzEuNTYsMzEuNTYsMCwwLDEsMi41NiwxMywzMC41MiwzMC41MiwwLDAsMS0xLjgyLDExLDMzLjYzLDMzLjYzLDAsMCwxLTUuMTIsOC44OGwtOS45MSwxMC4yOS0xLjY2LDEuNDljLTEuNzYsMS42Ni0zLjE3LDMuMDctNC4yMSw0LjIzQTE1LjI3LDE1LjI3LDAsMCwwLDEwNCwxMjguNmExNC4zNywxNC4zNywwLDAsMC0xLjI0LDQuMjMsNDIuNDEsNDIuNDEsMCwwLDAtLjMzLDUuODF2Ny4zWm0tMy4xNCwyMi45MWExMC41NiwxMC41NiwwLDAsMSwzLjIzLTcuNzIsMTAuNzMsMTAuNzMsMCwwLDEsMTUuMzcsMCwxMSwxMSwwLDAsMS03LjY5LDE4LjY3LDExLDExLDAsMCwxLTEwLjkxLTExWiIvPjxwYXRoIGNsYXNzPSJkIiBkPSJNOTQuMzYsMTgwLjczYTEyLDEyLDAsMSwxLDguMzUtMy41MUExMS40MiwxMS40MiwwLDAsMSw5NC4zNiwxODAuNzNabTAtMjEuOTFhOS41LDkuNSwwLDAsMC03LDMsOS45NCw5Ljk0LDAsMCwwLDAsMTQuMTMsMTAsMTAsMCwwLDAsMTctNy4wNiw5LjU5LDkuNTksMCwwLDAtMy03LjA3QTkuNDksOS40OSwwLDAsMCw5NC4zNiwxNTguODJabTktMTEuOTVIODUuNjZWMTM1LjgyYTM2LjU1LDM2LjU1LDAsMCwxLC42OC03LjY3LDIwLjg3LDIwLjg3LDAsMCwxLDIuMDctNS42NCwyMi4xMSwyMi4xMSwwLDAsMSwzLjcxLTQuODZjMS41LTEuNSwzLjM3LTMuMzIsNS41Ni01LjQxLDEuODEtMS43MSwzLjU5LTMuNDEsNS4yOC01YTU0LjE1LDU0LjE1LDAsMCwwLDQuNzEtNS4yMiwyOC4zMywyOC4zMywwLDAsMCwzLjQ0LTUuNjMsMTUuNTksMTUuNTksMCwwLDAsMS4zMi02LjUsMTYuODIsMTYuODIsMCwwLDAtNC44Ni0xMiwxNS41OSwxNS41OSwwLDAsMC01LjIyLTMuNDUsMTcuMSwxNy4xLDAsMCwwLTYuNS0xLjI2QTE2Ljc2LDE2Ljc2LDAsMCwwLDgzLjM4LDc4Yy0zLDMtMy40Niw3LTQsMTJsLS4xOSwxLjU4LTE3LjM1LS4yOS0uMDYtLjg1YTMwLjQ5LDMwLjQ5LDAsMCwxLDkuNDItMjQuNjhjNi4yMS01Ljk0LDEzLjctOC40OCwyNS04LjQ4YTQwLjgxLDQwLjgxLDAsMCwxLDEzLjI4LDIuMTMsMzIuMjMsMzIuMjMsMCwwLDEsMTAuODEsNi4xNiwyOC41OSwyOC41OSwwLDAsMSw3LjI2LDkuOTRBMzIuNzEsMzIuNzEsMCwwLDEsMTMwLjE3LDg5YTMxLjY5LDMxLjY5LDAsMCwxLTEuODgsMTEuMzdBMzQuNDIsMzQuNDIsMCwwLDEsMTIzLDEwOS41bC0uMDYuMDdMMTEzLDExOS45bC0xLjY1LDEuNWMtMS43MywxLjYyLTMuMTMsMy00LjE1LDQuMTZhMTQuMjYsMTQuMjYsMCwwLDAtMi4zMywzLjQzLDEzLjM5LDEzLjM5LDAsMCwwLTEuMTYsNCw0MC40Nyw0MC40NywwLDAsMC0uMzIsNS42OFpNODcuNTMsMTQ1aDE0di02LjM3YTQyLjM5LDQyLjM5LDAsMCwxLC4zNC01Ljk0LDE1LjYsMTUuNiwwLDAsMSwxLjMyLTQuNSwxNi4xNywxNi4xNywwLDAsMSwyLjYzLTMuODdjMS4wNi0xLjE4LDIuNDktMi42Miw0LjI3LTQuMjlsMS42NC0xLjQ5LDkuODYtMTAuMjNhMzIuNzgsMzIuNzgsMCwwLDAsNS04LjZBMzAuMDksMzAuMDksMCwwLDAsMTI4LjMsODlhMzAuODIsMzAuODIsMCwwLDAtMi40OS0xMi42NiwyNi43OSwyNi43OSwwLDAsMC02Ljc4LTkuMywzMC4zOSwzMC4zOSwwLDAsMC0xMC4xOS01LjgsMzguODksMzguODksMCwwLDAtMTIuNjYtMmMtMTAuOTQsMC0xNy44MiwyLjMxLTIzLjczLDhhMjguNjMsMjguNjMsMCwwLDAtOC45LDIyLjM2bDEzLjkzLjI0Yy42LTUuMTMsMS4xNS05LjU2LDQuNTYtMTMuMDVzOC4xNy01LjQyLDEzLjgxLTUuNDJhMTguODcsMTguODcsMCwwLDEsNy4yMiwxLjQsMTcuNjksMTcuNjksMCwwLDEsNS44NCwzLjg1LDE4LjgxLDE4LjgxLDAsMCwxLDMuOTEsNS44NSwxOC40MSwxOC40MSwwLDAsMSwxLjQ4LDcuNDIsMTcuNDksMTcuNDksMCwwLDEtMS40OCw3LjI3LDMwLjA5LDMwLjA5LDAsMCwxLTMuNjcsNiw1NC4yMSw1NC4yMSwwLDAsMS00Ljg4LDUuNGMtMS42OSwxLjY1LTMuNDcsMy4zNi01LjMsNS4wNy0yLjE3LDIuMDgtNCwzLjg5LTUuNTEsNS4zOGEyMC4wNywyMC4wNywwLDAsMC0zLjQsNC40NCwxOS4xOCwxOS4xOCwwLDAsMC0xLjg5LDUuMTUsMzQuODQsMzQuODQsMCwwLDAtLjY0LDcuMjdaIi8+PC9zdmc+";

$web: "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMjIuMjcgMTg1Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojYjVjN2NhO30uYntmaWxsOiNkY2YxZmE7fS5je2ZpbGw6IzAwYTZlMDt9LmR7ZmlsbDojNGE0ZjU1O308L3N0eWxlPjwvZGVmcz48dGl0bGU+d2ViPC90aXRsZT48cmVjdCBjbGFzcz0iYSIgeD0iNzguMjUiIHk9IjE1MS4yMSIgd2lkdGg9IjY1Ljc4IiBoZWlnaHQ9IjI4LjgxIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0xNDguMDksMTc5LjUxSDc0LjE4Yy0xLjg3LDAtMy40LDEuNzktMy40LDRWMTg1aDgwLjcxdi0xLjVBMy43MywzLjczLDAsMCwwLDE0OC4wOSwxNzkuNTFaIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0wLDE0MHYxNS44OGE1LjUyLDUuNTIsMCwwLDAsNS41Myw1LjUzSDIxNi43NGE1LjUzLDUuNTMsMCwwLDAsNS41My01LjUzVjE0MFoiLz48cGF0aCBjbGFzcz0iYiIgZD0iTTIyMi4yNywxNDBWNS41NEE1LjU0LDUuNTQsMCwwLDAsMjE2Ljc0LDBINS41M0E1LjUzLDUuNTMsMCwwLDAsMCw1LjU0VjE0MFoiLz48cmVjdCBjbGFzcz0iYyIgeD0iOS4xMSIgeT0iOC42NSIgd2lkdGg9IjIwNC4wNiIgaGVpZ2h0PSIxMjIuMTciLz48cGF0aCBjbGFzcz0iZCIgZD0iTTIxNCwxMzEuNjFIOC4zMVY3Ljg1SDIxNFpNOS45LDEzMEgyMTIuMzdWOS40NEg5LjlaIi8+PC9zdmc+";

$summary: "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTkuMiAyMTkuMTUiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOiM0YTRmNTU7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5zdW1tYXJ5PC90aXRsZT48cGF0aCBjbGFzcz0iYSIgZD0iTTk3Ljc0LDIwaC40M0w5Ny43OSwwbDQwLjY5LDM2TDk5LjE2LDczLjM4bC0uNC0yMS4yMmgtLjQzYTY3LjQxLDY3LjQxLDAsMSwwLDUyLjI5LDIzLjM2TDE3NSw1NC40M0E5OS42LDk5LjYsMCwxLDEsOTcuNzQsMjBaIi8+PC9zdmc+";

$stretch: "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMTMuMzcgMjAwIj48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZmZmO30uYntmaWxsOiMwYTE2MWI7fS5je2ZpbGw6I2U2ZTZlNjt9LmR7ZmlsbDojZDYwMDZkO30uZXtmaWxsOiMwMDUzNzA7fS5me2ZpbGw6IzAwYTdlMTt9Lmd7ZmlsbDojMGExZTJjO308L3N0eWxlPjwvZGVmcz48dGl0bGU+c3RyZXRjaDwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImEiIHBvaW50cz0iMjAyLjQ1IDE4My45NyAyMDIuNDUgMjAwIDIwNi41MiAxOTkuOTkgMjA2LjUyIDE4My45NyAyMDIuNDUgMTgzLjk3Ii8+PHBvbHlnb24gY2xhc3M9ImIiIHBvaW50cz0iMTguNzMgMTkxLjk5IDEzLjMyIDIwMCAyMDIuNDUgMjAwIDIwMi40NSAxOTEuOTkgMTguNzMgMTkxLjk5Ii8+PHBvbHlnb24gY2xhc3M9ImMiIHBvaW50cz0iMTMuMzIgMTgzLjk3IDE4LjczIDE5MS45OSAyMDIuNDUgMTkxLjk5IDIwMi40NSAxODMuOTcgMTMuMzIgMTgzLjk3Ii8+PHBhdGggY2xhc3M9ImQiIGQ9Ik0yMDkuMzIsMjAwYTQuMDcsNC4wNywwLDAsMCw0LjA1LTQuMDhWMTg4YTQuMDYsNC4wNiwwLDAsMC00LjA1LTQuMDdoLTIuOHYxNloiLz48cG9seWdvbiBjbGFzcz0iYiIgcG9pbnRzPSIwIDE5MS45OSA2LjY3IDE5NiA2LjY3IDE4Ny45OSAwIDE5MS45OSIvPjxwb2x5Z29uIGNsYXNzPSJhIiBwb2ludHM9IjE4LjczIDE5MS45OSAxMy4zMiAxODMuOTcgNi42NyAxODcuOTkgNi42NyAxOTYgMTMuMzIgMjAwIDE4LjczIDE5MS45OSIvPjxwYXRoIGNsYXNzPSJlIiBkPSJNODMsMTcwLjM4YTMuODksMy44OSwwLDAsMC0zLjktMy44OGgwYTMuODgsMy44OCwwLDAsMC0zLjg3LDMuODh2MTguNDlhMy44OCwzLjg4LDAsMCwwLDMuODcsMy44OGgwYTMuODksMy44OSwwLDAsMCwzLjktMy44OFoiLz48cGF0aCBjbGFzcz0iZSIgZD0iTTcxLDE4Mi41MmEzLjg4LDMuODgsMCwwLDAtMy44OS0zLjg3aDBhMy44NiwzLjg2LDAsMCwwLTMuODcsMy44N3Y2LjM1YTMuODcsMy44NywwLDAsMCwzLjg3LDMuODhoMEEzLjg5LDMuODksMCwwLDAsNzEsMTg4Ljg3WiIvPjxwYXRoIGNsYXNzPSJlIiBkPSJNOTUuMzMsMTgyLjUyYTMuODYsMy44NiwwLDAsMC0zLjg3LTMuODdoMGEzLjg2LDMuODYsMCwwLDAtMy44NywzLjg3djYuMzVhMy44NywzLjg3LDAsMCwwLDMuODcsMy44OGgwYTMuODcsMy44NywwLDAsMCwzLjg3LTMuODhaIi8+PHBhdGggY2xhc3M9ImUiIGQ9Ik0xMzcuODUsMTcwLjM4YTMuOSwzLjksMCwwLDAtMy45MS0zLjg4aDBhMy44NywzLjg3LDAsMCwwLTMuODYsMy44OHYxOC40OWEzLjg3LDMuODcsMCwwLDAsMy44NiwzLjg4aDBhMy45LDMuOSwwLDAsMCwzLjkxLTMuODhaIi8+PHBhdGggY2xhc3M9ImUiIGQ9Ik0xMjUuODMsMTgyLjUyYTMuODcsMy44NywwLDAsMC0zLjg5LTMuODdoMGEzLjg2LDMuODYsMCwwLDAtMy44NywzLjg3djYuMzVhMy44NywzLjg3LDAsMCwwLDMuODcsMy44OGgwYTMuODgsMy44OCwwLDAsMCwzLjg5LTMuODhaIi8+PHBhdGggY2xhc3M9ImUiIGQ9Ik0xNTAuMTYsMTgyLjUyYTMuODYsMy44NiwwLDAsMC0zLjg3LTMuODdoMGEzLjg2LDMuODYsMCwwLDAtMy44NywzLjg3djYuMzVhMy44NywzLjg3LDAsMCwwLDMuODcsMy44OGgwYTMuODcsMy44NywwLDAsMCwzLjg3LTMuODhaIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0xNzEuOTEsOTUuNWMwLDE4Ljg1LTUuNzEsNDEuMTUtMTUuMTgsNjAuMTUsMTguMTItMTguNzQsMjkuNzEtNDUuMTEsMjkuNzEtNjYuNDMsMC0zNy40My0zNS43MS00NS4xNi03OS43My00NS4xNkMxNDIuNjksNDQuMDYsMTcxLjkxLDUyLjg2LDE3MS45MSw5NS41WiIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNMTA2LjcxLDQ0LjA2Yy00NCwwLTc5Ljc0LDcuNzMtNzkuNzQsNDUuMTYsMCwyMS4zMiwxMS42LDQ3LjY5LDI5LjY5LDY2LjQzLTkuNDUtMTktMTUuMTQtNDEuMy0xNS4xNC02MC4xNUM0MS41Miw1Mi44Niw3MC43LDQ0LjA2LDEwNi43MSw0NC4wNloiLz48cGF0aCBjbGFzcz0iZiIgZD0iTTEwNi43MSwxNzkuNjJjMTguOTMsMCwzNi4zNC05LjgxLDUwLTI0LDkuNDctMTksMTUuMTgtNDEuMywxNS4xOC02MC4xNSwwLTQyLjY0LTI5LjIyLTUxLjQ0LTY1LjItNTEuNDRTNDEuNTIsNTIuODYsNDEuNTIsOTUuNWMwLDE4Ljg1LDUuNjksNDEuMTUsMTUuMTQsNjAuMTVDNzAuMzUsMTY5LjgxLDg3Ljc2LDE3OS42MiwxMDYuNzEsMTc5LjYyWiIvPjxwYXRoIGNsYXNzPSJlIiBkPSJNMTA2LjcxLDE0Ljc0Yy0yNy41LDAtNTEuMDgtNC41NC02MS42Ny0xMWE1LjE2LDUuMTYsMCwwLDAtLjMzLDEuOGMwLDkuNzIsMjcuNzQsMTcuNTgsNjIsMTcuNThzNjItNy44Niw2Mi0xNy41OGE1LjE0LDUuMTQsMCwwLDAtLjMyLTEuOEMxNTcuNzgsMTAuMiwxMzQuMTgsMTQuNzQsMTA2LjcxLDE0Ljc0WiIvPjxyZWN0IGNsYXNzPSJlIiB4PSI5MC4zMyIgeT0iMzEuMzciIHdpZHRoPSI0Ny40MiIgaGVpZ2h0PSI0Ny43NiIvPjxwb2x5Z29uIGNsYXNzPSJlIiBwb2ludHM9IjEwNi43MSA5OS4xIDEwMC42NyA4OC42NiA5NS4xOSA3OS4xNCAxMDYuNzEgNzguMjMgMTE4LjIyIDc5LjE0IDExMi43MiA4OC42NiAxMDYuNzEgOTkuMSIvPjxwYXRoIGNsYXNzPSJmIiBkPSJNMTA2LjcxLDUyLjFhMzQuNTksMzQuNTksMCwwLDEsMzQuNTgtMzQuNTksMzUsMzUsMCwwLDEsNC42LjM1LDUxLjkzLDUxLjkzLDAsMCwwLTc4LjM4LDAsMzUuMDgsMzUuMDgsMCwwLDEsNC42LS4zNUEzNC42LDM0LjYsMCwwLDEsMTA2LjcxLDUyLjFaIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik03Mi4xMSwxNy41MWEzNS4wOCwzNS4wOCwwLDAsMC00LjYuMzUsMzQuNTUsMzQuNTUsMCwwLDAsMCw2OC40OSwzMy40MywzMy40MywwLDAsMCw0LjYuMzVjMTkuMTEsMCwzOC4zNy0xNS41LDM4LjM3LTM0LjZTOTEuMjIsMTcuNTEsNzIuMTEsMTcuNTFaIi8+PHBhdGggY2xhc3M9ImEiIGQ9Ik03Mi4xMSwyMi43M2EyNy43NCwyNy43NCwwLDAsMC0zLjkuMywyOS4zMywyOS4zMywwLDAsMCwwLDU4LjE1LDI3Ljc1LDI3Ljc1LDAsMCwwLDMuOS4yOCwyOS4zNywyOS4zNywwLDEsMCwwLTU4LjczWiIvPjxwYXRoIGNsYXNzPSJnIiBkPSJNNzIuMTEsNDEuMjNhOS43Niw5Ljc2LDAsMCwwLTEuNDQuMTEsMTAuODUsMTAuODUsMCwwLDAsMCwyMS41MiwxMS4zNSwxMS4zNSwwLDAsMCwxLjQ0LjEsMTAuODcsMTAuODcsMCwwLDAsMC0yMS43M1oiLz48cGF0aCBjbGFzcz0iYSIgZD0iTTc4LjcyLDQyLjQ5YTMuOTEsMy45MSwwLDAsMC0uNDYsMCwzLjQ4LDMuNDgsMCwwLDAsMCw2LjlsLjQ2LDBhMy40OSwzLjQ5LDAsMSwwLDAtN1oiLz48cGF0aCBjbGFzcz0iYiIgZD0iTTE0NS44OSwxNy44NmEzNSwzNSwwLDAsMC00LjYtLjM1QzEyMi4yLDE3LjUxLDEwMywzMywxMDMsNTIuMXMxOS4yNSwzNC42LDM4LjM0LDM0LjZhMzMuMzIsMzMuMzIsMCwwLDAsNC42LS4zNSwzNC41NSwzNC41NSwwLDAsMCwwLTY4LjQ5WiIvPjxwYXRoIGNsYXNzPSJhIiBkPSJNMTQxLjI5LDIyLjczYTI4LjQ3LDI4LjQ3LDAsMCwwLTMuOTEuMywyOS4zMywyOS4zMywwLDAsMCwwLDU4LjE1LDI4LjQ1LDI4LjQ1LDAsMCwwLDMuOTEuMjgsMjkuMzcsMjkuMzcsMCwxLDAsMC01OC43M1oiLz48cGF0aCBjbGFzcz0iZyIgZD0iTTE0MS4yOSw0MS4yM2ExMC4zMywxMC4zMywwLDAsMC0xLjQ1LjExLDEwLjg2LDEwLjg2LDAsMCwwLDAsMjEuNTIsMTIsMTIsMCwwLDAsMS40NS4xLDEwLjg3LDEwLjg3LDAsMSwwLDAtMjEuNzNaIi8+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xNDcuNTMsNDIuNDlhMy40MywzLjQzLDAsMCwwLS40NywwLDMuNDMsMy40MywwLDEsMCwuNDcsMFoiLz48L3N2Zz4=";

$keypoint: "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxODAgMjQ0Ljg1Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojMDA3ZGE4O30uYntmaWxsOiNmZmY7fS5je2ZpbGw6IzI1MjgyYjt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmtleXBvaW50PC90aXRsZT48cGF0aCBjbGFzcz0iYSIgZD0iTTkwLDBBOTAsOTAsMCwwLDAsMCw5MGMwLDIwLjcyLDcuNTQsMzkuMjgsMTguNjUsNTQuODVMOTAsMjQ0Ljg1bDcxLjM2LTEwMEMxNzIuNDcsMTI5LjI3LDE4MCwxMTAuNjYsMTgwLDkwQTkwLDkwLDAsMCwwLDkwLDBaIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0xNTcsOTBBNjcsNjcsMCwxLDEsOTAsMjMsNjcsNjcsMCwwLDEsMTU3LDkwWiIvPjxwb2x5Z29uIGNsYXNzPSJjIiBwb2ludHM9IjkwLjAxIDM2LjM4IDgwLjUzIDkwIDkwLjAxIDE0My42MiA5OS40NyA5MCA5MC4wMSAzNi4zOCIvPjxwb2x5Z29uIGNsYXNzPSJjIiBwb2ludHM9IjM2LjM5IDkwIDkwLjAxIDk5LjQ3IDE0My42MSA5MCA5MC4wMSA4MC41NCAzNi4zOSA5MCIvPjxwb2x5Z29uIGNsYXNzPSJjIiBwb2ludHM9IjYzLjIgNjMuMTkgODUuMjcgOTQuNzMgMTE2LjgxIDExNi44MSA5NC43NCA4NS4yOCA2My4yIDYzLjE5Ii8+PHBvbHlnb24gY2xhc3M9ImMiIHBvaW50cz0iNjMuMiAxMTYuODEgOTQuNzQgOTQuNzIgMTE2LjgxIDYzLjE5IDg1LjI4IDg1LjI3IDYzLjIgMTE2LjgxIi8+PC9zdmc+";

$think: "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNzYuMTIgMjQ5LjM1Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojZjdiZTAwO30uYntmaWxsOiNmZmY7fS5je2ZpbGw6IzBhMTYxYjt9LmR7ZmlsbDojMzIzYjQ0O30uZXtmaWxsOiMyZTNiNDQ7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT50aGluazwvdGl0bGU+PHBhdGggY2xhc3M9ImEiIGQ9Ik03OS4yLDEyNy4yMWE1OS4xMyw1OS4xMywwLDAsMSwxMTguMjYsMGMwLDEuOTMtMS40MiwyOS4yNi0yMy42OSw1Ny45NC02LjUyLDguNjYtNS40NSwyNi4wNy01LjM5LDI2LjA3SDEwOC4xNGMuMDYsMCwxLjI0LTE3LjQxLTUuMjQtMjYuMDdDODAuNTksMTU2LjQ0LDc5LjIsMTI5LjE0LDc5LjIsMTI3LjIxWiIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNMTM4LjMzLDIxMS4yMkgxMDguMTRjLjA2LDAsMS4yNC0xNy40MS01LjI0LTI2LjA3LTIyLjMxLTI4LjcxLTIzLjctNTYtMjMuNy01Ny45NGE1OS4xMSw1OS4xMSwwLDAsMSw1OS4xMy01OS4xMyIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNMTg0LjksMTI3LjE5aC01LjE4YTQxLjQyLDQxLjQyLDAsMCwwLTQxLjM5LTQxLjM2VjgwLjY0YTQ2LjYxLDQ2LjYxLDAsMCwxLDQ2LjU3LDQ2LjU1WiIvPjxwb2x5Z29uIGNsYXNzPSJjIiBwb2ludHM9IjE1MS4yNSAyMTUuODQgMTQ2LjEzIDIxNC45OSAxNTYuMjMgMTUzLjg2IDE2MS4zNSAxNTQuNzEgMTUxLjI1IDIxNS44NCAxNTEuMjUgMjE1Ljg0Ii8+PHBvbHlnb24gY2xhc3M9ImMiIHBvaW50cz0iMTI1LjQxIDIxNS44NCAxMTUuMzEgMTU0LjcxIDEyMC40MyAxNTMuODYgMTMwLjUzIDIxNC45OSAxMjUuNDEgMjE1Ljg0IDEyNS40MSAyMTUuODQiLz48cGF0aCBjbGFzcz0iYyIgZD0iTTE1OC40NiwxNjIuNDdjLTIuMTMsMC0zLjA1LTIuMDctMy43Mi0zLjU4LS4yOC0uNjMtLjg2LTEuOTUtMS4xOS0xLjk1cy0uOTEsMS4zMi0xLjE5LDEuOTVjLS42NywxLjUxLTEuNTgsMy41OC0zLjcxLDMuNThzLTMtMi4wNy0zLjcxLTMuNThjLS4yOC0uNjMtLjg2LTEuOTUtMS4xOS0xLjk1cy0uOTIsMS4zMi0xLjE5LDEuOTVjLS42NywxLjUxLTEuNTksMy41OC0zLjcyLDMuNThzLTMtMi4wNy0zLjcyLTMuNThjLS4yOC0uNjMtLjg2LTEuOTUtMS4xOS0xLjk1cy0uOTEsMS4zMi0xLjE5LDEuOTVjLS42OCwxLjUxLTEuNTksMy41OC0zLjcyLDMuNThzLTMuMDUtMi4wNy0zLjcyLTMuNThjLS4yOC0uNjMtLjg3LTEuOTUtMS4yLTEuOTVzLS45MiwxLjMyLTEuMiwxLjk1Yy0uNjcsMS41MS0xLjYsMy41OC0zLjcyLDMuNTh2LTIuNzZjLjMzLDAsLjkyLTEuMzEsMS4yLTEuOTQuNjctMS41MiwxLjU5LTMuNTgsMy43Mi0zLjU4czMuMDUsMi4wNiwzLjcyLDMuNThjLjI4LjYzLjg3LDEuOTQsMS4yLDEuOTRzLjkxLTEuMzEsMS4xOS0xLjk0Yy42OC0xLjUyLDEuNTktMy41OCwzLjcyLTMuNThzMywyLjA2LDMuNzIsMy41OGMuMjguNjMuODYsMS45NCwxLjE5LDEuOTRzLjkyLTEuMzEsMS4xOS0xLjk0Yy42OC0xLjUyLDEuNTktMy41OCwzLjcyLTMuNThzMywyLjA3LDMuNzEsMy41OGMuMjguNjMuODYsMS45NCwxLjE5LDEuOTRzLjkxLTEuMzEsMS4xOS0xLjk0Yy42Ny0xLjUxLDEuNTktMy41OCwzLjcxLTMuNThzMywyLjA3LDMuNzEsMy41OGMuMjguNjMuODYsMS45NCwxLjIsMS45NHYyLjc2WiIvPjxwYXRoIGNsYXNzPSJkIiBkPSJNMTYyLjA4LDI0OS4zNUgxMTQuNTlhMy44LDMuOCwwLDAsMSwwLTcuNmg0Ny40OWEzLjgsMy44LDAsMCwxLDAsNy42WiIvPjxwYXRoIGNsYXNzPSJjIiBkPSJNMTY4LjQ0LDIxMS4yNHYzMC45MkEzLjg0LDMuODQsMCwwLDEsMTY0LjYsMjQ2SDExMi4xMmEzLjg1LDMuODUsMCwwLDEtMy44My0zLjg0VjIxMS4yNFoiLz48bGluZSBjbGFzcz0iZSIgeDE9IjE2OS42NSIgeTE9IjIxNC4yMyIgeDI9IjEwNy4wMiIgeTI9IjIxNC4yMyIvPjxwYXRoIGNsYXNzPSJlIiBkPSJNMTY5LjY1LDIxNy4yNkgxMDdhMywzLDAsMCwxLDAtNi4wN2g2Mi42M2EzLDMsMCwwLDEsMCw2LjA3WiIvPjxsaW5lIGNsYXNzPSJlIiB4MT0iMTY5LjY1IiB5MT0iMjI0LjMzIiB4Mj0iMTA3LjAyIiB5Mj0iMjI0LjMzIi8+PHBhdGggY2xhc3M9ImUiIGQ9Ik0xNjkuNjUsMjI3LjM2SDEwN2EzLDMsMCwwLDEsMC02LjA2aDYyLjYzYTMsMywwLDAsMSwwLDYuMDZaIi8+PGxpbmUgY2xhc3M9ImUiIHgxPSIxNjkuNjUiIHkxPSIyMzQuNDMiIHgyPSIxMDcuMDIiIHkyPSIyMzQuNDMiLz48cGF0aCBjbGFzcz0iZSIgZD0iTTE2OS42NSwyMzcuNDZIMTA3YTMsMywwLDEsMSwwLTYuMDZoNjIuNjNhMywzLDAsMSwxLDAsNi4wNloiLz48cGF0aCBjbGFzcz0iYSIgZD0iTTEzOCw0MmExLjgyLDEuODIsMCwwLDEtMS44Mi0xLjgyVjEuODJhMS44MiwxLjgyLDAsMSwxLDMuNjQsMFY0MC4yMUExLjgyLDEuODIsMCwwLDEsMTM4LDQyWiIvPjxwYXRoIGNsYXNzPSJhIiBkPSJNODkuMTEsNTUuMTVhMS44LDEuOCwwLDAsMS0xLjU4LS45MUw2OC4zNCwyMWExLjgyLDEuODIsMCwxLDEsMy4xNS0xLjgyTDkwLjY4LDUyLjQyQTEuODIsMS44MiwwLDAsMSw5MCw1NC45MWExLjc3LDEuNzcsMCwwLDEtLjkxLjI0WiIvPjxwYXRoIGNsYXNzPSJhIiBkPSJNNTMuMyw5MWExLjc5LDEuNzksMCwwLDEtLjkxLS4yNUwxOS4xNSw3MS41NEExLjgyLDEuODIsMCwwLDEsMjEsNjguMzlMNTQuMjEsODcuNThhMS44MSwxLjgxLDAsMCwxLC42NywyLjQ5QTEuODMsMS44MywwLDAsMSw1My4zLDkxWiIvPjxwYXRoIGNsYXNzPSJhIiBkPSJNNDAuMjEsMTM5LjkxSDEuODNhMS44MywxLjgzLDAsMSwxLDAtMy42NUg0MC4yMWExLjgzLDEuODMsMCwwLDEsMCwzLjY1WiIvPjxwYXRoIGNsYXNzPSJhIiBkPSJNMjAuMSwyMDhhMS44MiwxLjgyLDAsMCwxLS45Mi0zLjRsMzMuMjUtMTkuMTlhMS44MiwxLjgyLDAsMSwxLDEuODIsMy4xNUwyMSwyMDcuNzhhMS44NCwxLjg0LDAsMCwxLS45LjI0WiIvPjxwYXRoIGNsYXNzPSJhIiBkPSJNMjU2LjA1LDIwOGExLjc5LDEuNzksMCwwLDEtLjkxLS4yNUwyMjEuOSwxODguNTNhMS44MiwxLjgyLDAsMCwxLDEuODItMy4xNkwyNTcsMjA0LjU3YTEuODIsMS44MiwwLDAsMS0uOTEsMy40WiIvPjxwYXRoIGNsYXNzPSJhIiBkPSJNMjc0LjMsMTM5Ljg1SDIzNS45YTEuODMsMS44MywwLDAsMSwwLTMuNjVoMzguNGExLjgzLDEuODMsMCwwLDEsMCwzLjY1WiIvPjxwYXRoIGNsYXNzPSJhIiBkPSJNMjIyLjc4LDkwLjkzYTEuODIsMS44MiwwLDAsMS0uOTEtMy40bDMzLjI1LTE5LjJhMS44MiwxLjgyLDAsMCwxLDEuODEsMy4xNWwtMzMuMjQsMTkuMmExLjg2LDEuODYsMCwwLDEtLjkxLjI1WiIvPjxwYXRoIGNsYXNzPSJhIiBkPSJNMTg3LDU1LjEzYTEuNzUsMS43NSwwLDAsMS0uOS0uMjUsMS44MSwxLjgxLDAsMCwxLS42Ny0yLjQ4bDE5LjE4LTMzLjI2YTEuODMsMS44MywwLDAsMSwyLjQ5LS42NiwxLjgxLDEuODEsMCwwLDEsLjY3LDIuNDhMMTg4LjUzLDU0LjIyYTEuODIsMS44MiwwLDAsMS0xLjU4LjkxWiIvPjxwYXRoIGNsYXNzPSJhIiBkPSJNMTM4LDQyYTEuODIsMS44MiwwLDAsMS0xLjgyLTEuODJWMS44MmExLjgyLDEuODIsMCwxLDEsMy42NCwwVjQwLjIxQTEuODIsMS44MiwwLDAsMSwxMzgsNDJaIi8+PC9zdmc+";

$read: "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMzYuNzcgMTkwIj48ZGVmcz48c3R5bGU+LmF7ZmlsbDojMGExNjFiO30uYntmaWxsOiNkNjAwNmQ7fS5je2ZpbGw6I2FiYjdhZjt9LmR7ZmlsbDojZTZlNmU2O30uZXtmaWxsOiNmZmY7fS5mLC5ne2ZpbGw6IzAwYTdlMTt9LmZ7b3BhY2l0eTowLjM1O308L3N0eWxlPjwvZGVmcz48dGl0bGU+cmVhZDwvdGl0bGU+PHBhdGggY2xhc3M9ImEiIGQ9Ik05NS43Myw2LjEyYy4xNC4xMy43OSwwLC45LS4xOS44My0xLjE2LDEuODctNS4xOCw2LTUuMzcsMy44NC0uMTcsMjQuOTQsMCwyOC4zLDBzMy45MSwyLjg4LDUuMjcsNS41MWMuMTMuMjYuNjguMTEuODUtLjEyQTE1LDE1LDAsMCwxLDE0OC43NSwwbDc4LjczLjU2YzguNDUsMCw5LjI4LDMuOTEsOS4yNiwxMC4zNywwLDQuMS4wNywxNjQsMCwxNjcuOC0uMTEsNS4zLTEuNDgsMTEuMTUtOS43NCwxMS00LjYyLS4wNi03Ni0uMi03OS4wNS0uMzMtNi4xLS4yNi04LjM2LTYuMjktOS02Ljg2YTguMjYsOC4yNiwwLDAsMC0uMzUtLjg5bC0yLjEuMTRjLS4xMywwLDAtLjA2LS4wNy4wNy0uMjMuNTMtLjQ1LDUuMDYtNC41LDUuMzItLjc3LDAtMzAuMDcsMC0zMC44NCwwLTQuNjItLjE1LTQuNi01LjM2LTUuMi01LjlhMS4yLDEuMiwwLDAsMC0uNjUsMFM5My42NywxOTAuMjUsODQsMTkwYy01LS4xMy03MC42NywwLTc1LjI4LS4yMy04LS40OS04LjktNS44Ny04LjctMTEuNTIuMTctNC43MSwwLTE2My41NCwwLTE2NS40MkMuMDYsMi41MywzLjEyLjM5LDExLjYuNTZoLjA1bDY5LjczLDBDOTEuNjIuODUsOTIuODMsMy40OCw5NS43Myw2LjEyWiIvPjxwYXRoIGNsYXNzPSJiIiBkPSJNMTU4LjQ2LDEyLjE1aDEzLjRzLjY3LTQuNzktMS42Mi03LjA5QzE2OS4xOCw0LDE2Ny44OCwxLjkxLDE2NCwxLjkxYy0zLjE0LDAtNS41LDMuMTUtNS41LDMuMTUsMCwzLjE1LDEuNjgtMS42OCwxLjY4LTEuNjhsLTEuNjgsMS42OFoiLz48cmVjdCBjbGFzcz0iYyIgeD0iNS42IiB5PSI1Ljk0IiB3aWR0aD0iMTExLjQxIiBoZWlnaHQ9IjE3Ni4xNiIvPjxyZWN0IGNsYXNzPSJjIiB4PSIxMjAuNDciIHk9IjUuOTQiIHdpZHRoPSIxMTEuNDEiIGhlaWdodD0iMTc2LjE2IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzNTIuMzQgMTg4LjAzKSByb3RhdGUoMTgwKSIvPjxyZWN0IGNsYXNzPSJkIiB4PSIxNC45IiB5PSI1Ljk0IiB3aWR0aD0iMTAyLjEiIGhlaWdodD0iMTY1LjQ5Ii8+PHJlY3QgY2xhc3M9ImQiIHg9IjEyMC40OCIgeT0iNS45NCIgd2lkdGg9IjEwMS45OSIgaGVpZ2h0PSIxNjUuNTgiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDM0Mi45NiAxNzcuNDUpIHJvdGF0ZSgxODApIi8+PHJlY3QgY2xhc3M9ImUiIHg9IjI1Ljg3IiB5PSI1Ljk0IiB3aWR0aD0iOTEuMTMiIGhlaWdodD0iMTUzLjIzIi8+PHJlY3QgY2xhc3M9ImUiIHg9IjEyMC40NyIgeT0iNS45NCIgd2lkdGg9IjkwLjU3IiBoZWlnaHQ9IjE1My4zIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzMzEuNTEgMTY1LjE3KSByb3RhdGUoMTgwKSIvPjxyZWN0IGNsYXNzPSJmIiB4PSIzNS4zNiIgeT0iMTEzLjc2IiB3aWR0aD0iNzMuMzQiIGhlaWdodD0iNS41MSIvPjxyZWN0IGNsYXNzPSJmIiB4PSIzNS4zNiIgeT0iOTQuMDciIHdpZHRoPSI3My4zNCIgaGVpZ2h0PSI1LjUxIi8+PHJlY3QgY2xhc3M9ImYiIHg9IjM1LjM2IiB5PSIxMzEuODgiIHdpZHRoPSI3My4zNCIgaGVpZ2h0PSI1LjUxIi8+PHBhdGggY2xhc3M9ImIiIGQ9Ik0xNjkuMzgsODYuOTRsMTMuMzUtMTMuMjIsMTQuOTEsMTMuMjJWMTUuMTRjMC04LjUxLTMuOTItMTIuMjktNy4wNi0xMS4zNHMtMjYuNjktMS44OS0yNi42OS0xLjg5LDYuMjgsMS44OSw1LjQ5LDEzLjIzQzE2OS4wNiwxOS44NCwxNjkuMzgsODYuOTQsMTY5LjM4LDg2Ljk0WiIvPjxwYXRoIGNsYXNzPSJnIiBkPSJNMzkuMjQsNTEuNTV2OC43OEgzNS42NnYtMjJoNi4xOHE0LjI0LDAsNi4yOCwxLjU5YTUuNzMsNS43MywwLDAsMSwyLDQuODFjMCwyLjc0LTEuNDIsNC42OC00LjI2LDUuODVsNi4xOSw5LjcySDQ4bC01LjI0LTguNzhabTAtM2gyLjQ4YTUuNjksNS42OSwwLDAsMCwzLjYzLS45MywzLjQxLDMuNDEsMCwwLDAsMS4xMi0yLjc3LDMsMywwLDAsMC0xLjIxLTIuNjcsNi41Nyw2LjU3LDAsMCwwLTMuNjYtLjgySDM5LjI0WiIvPjxwYXRoIGNsYXNzPSJnIiBkPSJNNjIuNTIsNjAuNjNhOCw4LDAsMCwxLTYtMi4yNiw4LjYzLDguNjMsMCwwLDEtMi4xOC02LjIzLDkuNDMsOS40MywwLDAsMSwyLTYuNCw3LDcsMCwwLDEsNS41Ni0yLjMzLDYuNzgsNi43OCwwLDAsMSw1LjE4LDIsNy42Myw3LjYzLDAsMCwxLDEuOSw1LjV2MS45MWgtMTFhNS40OCw1LjQ4LDAsMCwwLDEuMzEsMy43Miw0LjU1LDQuNTUsMCwwLDAsMy40NiwxLjI5LDEzLDEzLDAsMCwwLDIuNzMtLjI3LDE0Ljg4LDE0Ljg4LDAsMCwwLDIuNzItLjkzVjU5LjVhMTAuNDQsMTAuNDQsMCwwLDEtMi42MS44OEExNiwxNiwwLDAsMSw2Mi41Miw2MC42M1ptLS42NC0xNC41NWEzLjUzLDMuNTMsMCwwLDAtMi42OSwxLjA3QTUuMTIsNS4xMiwwLDAsMCw1OCw1MC4yNkg2NS41YTQuNjIsNC42MiwwLDAsMC0xLTMuMTJBMy4zNywzLjM3LDAsMCwwLDYxLjg4LDQ2LjA4WiIvPjxwYXRoIGNsYXNzPSJnIiBkPSJNODMuNzIsNjAuMzMsODMsNThIODIuOWE2LjcyLDYuNzIsMCwwLDEtMi40MSwyLjA2LDcuNTUsNy41NSwwLDAsMS0zLjEyLjU1LDUuMjksNS4yOSwwLDAsMS0zLjgxLTEuMzIsNSw1LDAsMCwxLTEuMzctMy43NCw0LjQxLDQuNDEsMCwwLDEsMS45LTMuODgsMTEsMTEsMCwwLDEsNS44LTEuNDNsMi44Ni0uMDl2LS44OUEzLjM5LDMuMzksMCwwLDAsODIsNDYuOWEzLDMsMCwwLDAtMi4zLS43OSw3LjkzLDcuOTMsMCwwLDAtMi40NC4zOCwxOC40NywxOC40NywwLDAsMC0yLjI1Ljg5bC0xLjE0LTIuNTNhMTIuMDksMTIuMDksMCwwLDEsMy0xLjA3LDEzLjE3LDEzLjE3LDAsMCwxLDMtLjM3LDcuMTUsNy4xNSwwLDAsMSw0Ljc3LDEuMzgsNS40Myw1LjQzLDAsMCwxLDEuNjEsNC4zNHYxMS4yWm0tNS4yNC0yLjRhNC4zMyw0LjMzLDAsMCwwLDMuMDgtMS4wOCwzLjksMy45LDAsMCwwLDEuMTYtM1Y1Mi4zOWwtMi4xMy4xYTcuMiw3LjIsMCwwLDAtMy42MS44MywyLjUyLDIuNTIsMCwwLDAtMS4xMywyLjI4LDIuMjMsMi4yMywwLDAsMCwuNjYsMS43MkEyLjgyLDIuODIsMCwwLDAsNzguNDgsNTcuOTNaIi8+PHBhdGggY2xhc3M9ImciIGQ9Ik05Ny4xNCw2MC42M2E1Ljc3LDUuNzcsMCwwLDEtNC44NC0yLjI1LDEwLjE2LDEwLjE2LDAsMCwxLTEuNzQtNi4zMywxMC4yMiwxMC4yMiwwLDAsMSwxLjc2LTYuMzcsNS44NSw1Ljg1LDAsMCwxLDQuODgtMi4yNyw1LjY4LDUuNjgsMCwwLDEsNSwyLjQyaC4xOEEyMS4xLDIxLjEsMCwwLDEsMTAyLjEsNDNWMzdoMy41M1Y2MC4zM2gtMi43NWwtLjYyLTIuMThoLS4xNkE1LjYzLDUuNjMsMCwwLDEsOTcuMTQsNjAuNjNabS45NC0yLjg1YTMuODEsMy44MSwwLDAsMCwzLjE2LTEuMjMsNi40NSw2LjQ1LDAsMCwwLDEtNHYtLjVhNy40NSw3LjQ1LDAsMCwwLTEtNC40NiwzLjc1LDMuNzUsMCwwLDAtMy4xOS0xLjMzLDMuMjUsMy4yNSwwLDAsMC0yLjg2LDEuNTEsNy43OSw3Ljc5LDAsMCwwLTEsNC4zMSw3LjU5LDcuNTksMCwwLDAsMSw0LjIyQTMuMywzLjMsMCwwLDAsOTguMDgsNTcuNzhaIi8+PC9zdmc+";

$watch: "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMzIuMTggMTY4LjM5Ij48ZGVmcz48c3R5bGU+LmF7ZmlsbDojMDBhNmUwO30uYntmaWxsOiM0YTRmNTU7fS5je2ZpbGw6I2RkZjJmYjt9LmR7ZmlsbDojMzJiNmViO308L3N0eWxlPjwvZGVmcz48dGl0bGU+d2F0Y2g8L3RpdGxlPjxwYXRoIGNsYXNzPSJhIiBkPSJNMCwxNDZ2MTYuNThhNS43Nyw1Ljc3LDAsMCwwLDUuNzgsNS43OEgyMjYuMzZhNS43OCw1Ljc4LDAsMCwwLDUuNzgtNS43OFYxNDZaIi8+PHBhdGggY2xhc3M9ImEiIGQ9Ik0yMzIuMTgsMTQ2LjIxVjUuNzhBNS43OCw1Ljc4LDAsMCwwLDIyNi40LDBINS44MUE1Ljc4LDUuNzgsMCwwLDAsMCw1Ljc4VjE0Ni4yMVoiLz48cmVjdCBjbGFzcz0iYiIgeD0iOS41NCIgeT0iOS4zMSIgd2lkdGg9IjIxMy4xMyIgaGVpZ2h0PSIxMjcuNTkiLz48ZWxsaXBzZSBjbGFzcz0iYyIgY3g9IjExNi4xMSIgY3k9IjcxLjc0IiByeD0iNDAuMzciIHJ5PSI0MC4xNSIvPjxwYXRoIGNsYXNzPSJkIiBkPSJNMTE2LjExLDExMi41N2E0MC44Myw0MC44MywwLDEsMSw0MS4wNS00MC44M0E0MSw0MSwwLDAsMSwxMTYuMTEsMTEyLjU3Wm0wLTgwLjNhMzkuNDcsMzkuNDcsMCwxLDAsMzkuNjgsMzkuNDdBMzkuNjIsMzkuNjIsMCwwLDAsMTE2LjExLDMyLjI3WiIvPjxwb2x5Z29uIGNsYXNzPSJhIiBwb2ludHM9IjEwMS4wMyA5OC4yNiAxMDEuMDMgNDcuOTQgMTQ0Ljg0IDczLjEgMTAxLjAzIDk4LjI2Ii8+PC9zdmc+";

$case-study: "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTMuNDYgMjM4LjQiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOiM0YTRmNTU7fS5ie2ZpbGw6IzAwN2RhODt9LmN7ZmlsbDojMDA1MzcwO29wYWNpdHk6MC43NTt9LmR7ZmlsbDojZDYwMDZkO30uZSwuZntmaWxsOm5vbmU7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fS5le3N0cm9rZTojNGE0ZjU1O3N0cm9rZS13aWR0aDoyNi45M3B4O30uZntzdHJva2U6IzVkNmQ3ZTtzdHJva2Utd2lkdGg6Ni43M3B4O30uZ3tmaWxsOiNmM2YzZjM7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5jYXNlc3R1ZHk8L3RpdGxlPjxwb2x5Z29uIGNsYXNzPSJhIiBwb2ludHM9Ijg2LjE4IDEzOS45NiA4MS4zMyAxNDcuMDQgNzUuNjQgMTU1LjI3IDczLjQ1IDE1OC40NyA1Ni45NCAxNDcuMSA2OS42NiAxMjguNiA4Ni4xOCAxMzkuOTYiLz48cGF0aCBjbGFzcz0iYiIgZD0iTTQyLjczLDE0OS42NmwtMzkuMTUsNTdhMjAuMjksMjAuMjksMCwxLDAsMzMuNDUsMjNsMzkuMTUtNTYuOTNaIi8+PHBhdGggY2xhc3M9ImMiIGQ9Ik01MC41OSwxNTUuMDdoMEw0NiwxNTEuODhsLTM5LjE1LDU3QTE2LjQsMTYuNCwwLDAsMCwxMSwyMzEuNmEyLjgyLDIuODIsMCwwLDAsMy45MS0uNzQsMi44MSwyLjgxLDAsMCwwLS43Mi0zLjg5QTEwLjc1LDEwLjc1LDAsMCwxLDExLjQ0LDIxMloiLz48cGF0aCBjbGFzcz0iZCIgZD0iTTc2LjE4LDE3Mi42NmwtMzMuNDUtMjMsMS43Mi0yLjUxYTcuMTIsNy4xMiwwLDAsMSw5Ljg4LTEuODRsMjEuNzUsMTVhNy4wOCw3LjA4LDAsMCwxLDEuODIsOS44N1oiLz48Y2lyY2xlIGNsYXNzPSJlIiBjeD0iMTE5LjEzIiBjeT0iNzQuMzQiIHI9IjYwLjg3Ii8+PGNpcmNsZSBjbGFzcz0iZiIgY3g9IjExOS4xMyIgY3k9Ijc0LjM0IiByPSI2MC44NyIvPjxjaXJjbGUgY2xhc3M9ImciIGN4PSIxMTkuMTMiIGN5PSI3NC4zNCIgcj0iNjAuODciLz48cGF0aCBjbGFzcz0iYSIgZD0iTTE2MS41Nyw3OS4zOGMtLjI4LDYtMi41MSwxMi43Mi01LjQxLDE4LjIxLTcuMjksMTMuODEtMjAuNzUsMjEuMzctMzYsMjMuMjMtMy43MS40NS0zLjc2LDYuMzUsMCw1Ljg5LDE2LjcxLTIsMzEuNzgtOS43Nyw0MC4zMS0yNC43MWE1Miw1MiwwLDAsMCw3LTIyLjYyYy4xOS0zLjc5LTUuNzEtMy43OC01Ljg5LDBaIi8+PC9zdmc+";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  &:focus {
    top: 10px;
    left: 10px;
    background: white;
    display: block;
    width: auto;
    height: auto;
    clip: auto;
    padding: .5em;
  }
}

[hidden] {
  display: none;
}

:focus,
%focus {
  outline: solid 2px $highlight;
  outline-offset: -2px;
}

/* Reset the box model and zero margins... */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;  /* TODO: Zeroing all margins could be too destructive? */
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $secondary1;
  border-left: solid 1px rgba(255,255,255,.6);
  border-right: solid 1px rgba(255,255,255,.6);
  color: $secondary1;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 75rem; // 1200px

  @supports(display: grid) {
    border: none;
    margin: 0;
    max-width: 100%;
  }

  line-height: $flow;

  &.component {
    margin-top: 0;
  }
}

// For IE
main,
details {
  display: block;
}

main > section {
  background-color: #fff;
}

summary {
  display: list-item;
}

footer {
  color: #fff;
  display: block;
  text-align: center;
}

/* Text */
h1 {
  font-size: 2em; /* Override smaller h1 sizes when embedded in certain sectioning content */
}

h1,
h2,
h3 {
  line-height: 1.15;
}

a {
  color: $primary1;

  &[target="_blank"] {
    display: inline-flex;
    align-items: center;

    &::after {
      content: "Link opens in a new tab or window";
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
    }

    > svg {
      width: 1em;
      height: 1em;
      margin-left: .5em;
    }

    // &::after {
    //   content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M22 14.5v5c0 2.484-2.016 4.5-4.5 4.5h-13A4.502 4.502 0 0 1 0 19.5v-13C0 4.016 2.016 2 4.5 2h11c.281 0 .5.219.5.5v1c0 .281-.219.5-.5.5h-11A2.507 2.507 0 0 0 2 6.5v13C2 20.875 3.125 22 4.5 22h13c1.375 0 2.5-1.125 2.5-2.5v-5c0-.281.219-.5.5-.5h1c.281 0 .5.219.5.5zM28 1v8c0 .547-.453 1-1 1a.99.99 0 0 1-.703-.297l-2.75-2.75L13.36 17.14c-.094.094-.234.156-.359.156s-.266-.063-.359-.156l-1.781-1.781c-.094-.094-.156-.234-.156-.359s.063-.266.156-.359L21.048 4.454l-2.75-2.75a.996.996 0 0 1-.297-.703c0-.547.453-1 1-1h8c.547 0 1 .453 1 1z"/></svg>');
    //   fill: currentColor;
    //   display: inline-block;
    //   width: 1em;
    //   height: 1em;
    //   margin-left: .5em;
    // }
  }
}

p a {

  color: currentColor;

  &:focus {
    background-color: #bada55;
    outline: none;
  }

  text-decoration-skip-ink: auto;
}

q,
blockquote {
  font-size: 1.5em;
  quotes: "“" "”" "‘" "’";

  & :first-child::before {
    content: open-quote;
    // float: left;
  }

  & :last-child::after {
    content: close-quote;
  }

}

blockquote {
  font-style: italic;
  margin-left: 2.5rem; /* 40px */
}

// [class*="c-"] *:not(select) {
//   padding: 0;
// }

nav {
  > ul,
  > ol {
    padding: 0;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }
}

/* Flow */
// TODO: What about <sections>
// main * + *:not([class^="c-"]),
// main * + *:not([class^="c-"] > *) {
* + p,
* + ul:not([class]),
* + ol,
* + dl,
* + div:not(.gallery) {
  margin-top: 1.5rem;
  margin-top: calc($flow * 1rem);
}

* + h2,
* + h3 {
  margin-top: 1.5em;
  margin-top: calc($flow * 1em);
}

// Don't follow the flow system if the element is part of a component.
// All components have classes prefixed with "c-"
// [class*="c-"],
// TODO: Flow system isn't working really
// [class*="c-"] > *:not(p) {
//   margin: 0;
// }

// Taken from https://www.filamentgroup.com/lab/select-css.html
select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .2em 1.4em .2em .8em;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    border-color: #888;
  }

  &:focus {
    border-color: $highlight;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }
  
  & option {
    font-weight:normal;
  }
}

button,
[type="button"],
[type="reset"],
[type="submit"],
.button {
  -webkit-appearance: none;
  background-color: $primary1;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: .5em 1em;
  width: max-content;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

main * + blockquote,
main * + figure {

  margin-bottom: 3rem;
  margin-top: 3rem;

  margin-top: calc($flow * 2rem);
  margin-bottom: calc($flow * 2rem);
}

/* Media */
img,
video {
  max-width: 100%;
}


/* Tables */
table {
  border: solid 1px currentColor;
  border-collapse: collapse;
}

tbody tr:nth-child(even) {
  background-color: rgb(218, 218, 218);
}

th,
td {
  border: solid 1px currentColor;
  padding: .2em .5em;
}

thead th {
  border-bottom-width: 3px;
}

/* Forms */
label {
  
  // Makes labels act like block elements when they have <input> after and inline if label is after input
  &::after {
    content: "\A";
    white-space: pre;
  }
}

input:not([type="color"]) {
  font-size: 1rem;
  padding: .5em;
}

svg {
  fill: currentColor;
  max-width: 300px; // TODO: needed?
  
  .js & {
    max-width: unset;
  }
}

// Lists


dt,
dd {
  display: inline;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;

  & + dt::before {
    content: "\A";
    white-space: pre;
  }
}

// ******************************************************** //

.page-title {
  &::before {
    @extend .visually-hidden;
    content: "Page ";
  }
}
 
.breadcrumb {
  font-size: .8em;

  &__node {
    &::after {
      content: "\A";
      white-space: pre;
    }
  }
}