/* Base styles for elements */

:root {
  --flow: 1.5;
  --highlight: dodgerblue;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  &:focus {
    top: 10px;
    left: 10px;
    background: white;
    display: block;
    width: auto;
    height: auto;
    clip: auto;
    padding: .5em;
    border: solid yellow;
  }
}

[hidden] {
  display: none;
}

/* Reset the box model and zero margins... */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;  /* TODO: Zeroing all margins could be too destructive? */
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 50rem; // 800px

  @supports(display: grid) {
    margin: 0;
    max-width: 100%;
  }

  @supports(--a: 0) {
    line-height: var(--flow);
  }
}

// For IE
main,
details {
  display: block;
}

summary {
  display: list-item;
}

/* Text */
h1 {
  font-size: 2em; /* Override smaller h1 sizes when embedded in certain sectioning content */
}

h1,
h2,
h3 {
  line-height: 1.15;
}

p a {

  &:focus {
    background-color: #bada55;
    outline: none;
  }

  text-decoration-skip-ink: auto;
}

q,
blockquote {
  quotes: "“" "”" "‘" "’";

  &::before {
    content: open-quote;
    float: left;
  }

  &::after {
    content: close-quote;
  }

}

blockquote {
  font-style: italic;
  margin-left: 2.5rem; /* 40px */
}

// [class*="c-"] *:not(select) {
//   padding: 0;
// }

nav {
  > ul,
  > ol {
    padding: 0;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }
}

/* Flow */
// TODO: What about <sections>
// main * + *:not([class^="c-"]),
// main * + *:not([class^="c-"] > *) {
main * + * {
  margin-top: 1.5rem;

  @supports(--a: 0) {
    margin-top: calc(var(--flow) * 1rem);
  }
}

* + h2,
* + h3 {
  margin-top: 1.5em;
  
  @supports(--a: 0) {
    margin-top: calc(var(--flow) * 1em);
  }
}

// Don't follow the flow system if the element is part of a component.
// All components have classes prefixed with "c-"
// [class*="c-"],
[class*="c-"] > * {
  margin: 0;
}

li,
dt,
dd,
br,
th,
td,
figcaption,
input,
select {
  margin: 0; // !important;
}

// Taken from https://www.filamentgroup.com/lab/select-css.html
select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .2em 1.4em .2em .8em;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;

  &::-ms-expand {
    display: none;
  }

  &:hover {
    border-color: #888;
  }

  &:focus {
    border-color: var(--highlight);
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
  }
  
  & option {
    font-weight:normal;
  }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

main * + blockquote,
main * + figure {

  margin-bottom: 3rem;
  margin-top: 3rem;
  
  @supports(--a: 0) {
    margin-bottom: calc(var(--flow) * 2rem);
    margin-top: calc(var(--flow) * 2rem);
  }
}

/* Images */
img {
  max-width: 100%;
}

img:not([alt]),
label:not([for]),
a:not([href]),
a[href="#"] {
  outline: dashed red 4px;
}

/* Tables */
table {
  border: solid 1px currentColor;
  border-collapse: collapse;
}

tbody tr:nth-child(even) {
  background-color: rgb(218, 218, 218);
}

th,
td {
  border: solid 1px currentColor;
  padding: .2em .5em;
}

thead th {
  border-bottom-width: 3px;
}

/* Forms */
label {
  
  // Makes labels act like block elements when they have <input> after and inline if label is after input
  &::after {
    content: "\A";
    white-space: pre;
  }
}

input:not([type="color"]) {
  font-size: 1rem;
  padding: .5em;
}

input:focus {
  outline: solid 2px #bada55;
}


// ******************************************************** //

.page-title {
  &::before {
    @extend .visually-hidden;
    content: "Page ";
  }
}
 
.breadcrumb {
  font-size: .8em;

  &__node {
    &::after {
      content: "\A";
      white-space: pre;
    }
  }
}

.c-pagination {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 100%;

  &__prev {
    order: -1;
  }

  &__next {
    order: 2;
  }

  li {
    display: inline-block; /* Fallback */
    display: inline-flex;
    flex: 1;
    
    > {
      a {
    
        flex: 1;
        padding: .5em 0;
        text-align: center;
    
        &::after {
          content: ". " attr(data-v2l-pagetitle);
          position: absolute;
          width: 1px;
          height: 1px;
          overflow: hidden;
          clip: rect(1px, 1px, 1px, 1px);
        }
      }
    }
  }
}

.v2l-logo {
  max-width: 190px;
}
// .c-pagination li > a:focus::after,
// .c-pagination li > a:hover::after {
//   content: ". " attr(data-v2l-pagetitle);
//   position: static;
//   width: auto;
//   height: auto;
//   overflow: unset;
//   clip: unset;
// } 