.c-main-head {
  background-color: rgb(37, 40, 43);
  border-width: 0;
  border-style: solid;
  border-color: var(--primary1);
  border-bottom-width: 5px;
  color: #fff;

  nav {
    grid-area: pagination;

    // &::before {
    //   content: "Pages: "
    // }
  }

  &__details {
    font-size: 1.125em; // 18px @ 16px base
    grid-area: details;
    margin-top: 0;

    span {
      display: block;
    }
  }

  &__sessions {
    grid-area: session-nav;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    // gap: .5em;
    justify-content: flex-start;

    li {
      display: inline-block;
      margin: 0 .5em 10px 0;

      // @supports (row-gap: 1px) {
      //   margin: 0;
      // }

      a {
        color: currentColor;
        border-top: solid 4px;
        display: block;
        text-decoration: none;
      }
    }

    [aria-current="step"] {
      color: var(--primary1);
    }
  }

  &__course {
    font-size: 2em;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__session {
    font-style: italic;
  }
}

// TODO: Fix pagination so that it doesn't wrap. Go back to flexbox?
.c-pagination {
  display: flex; // fallback
  display: grid;
  grid-template-columns: repeat(auto-fit, 2.75rem);
  grid-auto-rows: 2.75rem;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;

  &::before {
    content: "Page: ";
    align-self: center;
  }

  @supports (display: grid) {
    justify-content: space-between;
  }

  &__prev {
    order: -1;
  }

  &__next {
    order: 2;
  }

  li {
    display: inline-block; /* Fallback */
    // width: 3em;
    // height: 3em; // creates a 48px square box
     
    > a {
      // background-color: #000;
      // border-radius: 100%;  
      display: flex;
      height: 100%;
      text-align: center; // fallback
      justify-content: center;
      align-items: center;
      
      &:hover,
      &:focus {
        color: var(--primary1);
      }

      &[aria-current="page"] {
        border-bottom: solid 4px var(--primary1);
        filter: unset;
      }
    }
  }
}

.v2l-logo {
  grid-area: logo;
  width: 100%;
  max-width: 190px;
  height: 40px; // IE11

  @supports (display: grid) {
    height: auto;
  }
}

.c-quiz {
  counter-reset: quiz;

  *, *::before, &::before {    
    padding: .5em;
  }

  &--quick {
    &::before {
      @extend %l-vc;
      counter-increment: quiz;
      content: "Question " counter(quiz);
      justify-self: start;
    }
  }

  fieldset {
    border: 0;
    counter-reset: answers;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }

  &__answer {
    position: relative;
    padding: 0 calc((50 / 16) * 1em);
  }

  label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    
    &::before {
      counter-increment: answers;
      content: counter(answers, upper-alpha) ". ";
      left: 0;
    }

    &::after {
      right: 0;
    }

    &::before,
    &::after {
      @extend %l-vc;
      position: absolute;
      top: 0;
      width: calc((50 / 16) * 1em);
      height: 100%;
      text-align: center;
      justify-content: center;      
    }
  }

  // TODO: Abstract into reusable class?
  &__control {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0;

    &:checked {
      + label {
        background-color: rgba(255,255,255, .2);
        
        &::after {
          float: right;
        }
      }

      + [data-v2l-correct=true]::after {
        content: url(/images/svg/check.svg); //attr(data-v2l-correct);
      }
      
      + [data-v2l-correct=false]::after {
        content: url(/images/svg/cross.svg); //attr(data-v2l-correct);
      }
    }
  }

  &:target {
    > .c-quiz__fb {
      display: inherit;
    }
  }

  &__legend {
    font-weight: bold;
  }
  
  &__fb {
    font-size: .8em;
  }
}

// // Slider
.c-slider {
  padding-left: 0;
  position: relative;
  counter-reset: slides;

  &__container {
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(100%);
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      height: .75rem;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #eee;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #000;
    }

    ul {
      display: flex;
      align-items: center;
    }

    li {
      list-style: none;
      flex: 0 0 auto;
      width: 100%; // IE
      padding: 2rem;
      scroll-snap-align: start;
      counter-increment: slides;
    }
  }

  &__count {
    .visible &::after {
      content: "Slide " counter(slides) " of " attr(data-v2l-count);
      position: absolute;
      color: var(--secondary1);
      bottom: 3.5rem;
      right: 3.5rem;
      background: #fff;
      font-size: .8em;
      padding: .5em;
      border-radius: 5px;
      line-height: 1;
    }
  }

  &__instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 3rem; // if you change this, change the corresponding value in the button height

    svg,
    p {
      display: none;
    }

    p {
      padding: 1rem;
      text-align: center;
      // color: #fefefe;
      // background-color: #111;
    }
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
    vertical-align: -.5rem;
  }
}

.gallery .l-media {
  // grid-template-columns: auto 30%;
}

.c-slider__container:focus, 
[aria-label="slider controls"] button:focus {
  outline: 4px solid DodgerBlue;
  outline-offset: -6px;
}

[aria-label="slider controls"] {

  li {
    list-style: none;
  }

  button {
    position: absolute;
    top: 0;
    color: var(--secondary1);
    background: none;
    border: none;
    border-radius: 0;
    width: 3rem;
    height: calc(100% - 3rem);

    &:focus {
      outline-offset: -4px;
    }
  }

  #previous {
    left: 0;
  }
  
  #next {
    right: 0;
  }
}

.touch #instructions p {
  display: none !important;
  margin-top: 0;
}

.touch #instructions #touch {
  display: block !important;
}

button svg {
  width: 2rem;
  height: 2rem;
}

.c-wordbank {

  &__questions {

    li {
      margin-top: calc(var(--flow) * 1rem);
      padding: 1em;
    }
  }

  &__options {
    display: inline-block;
    width: auto;
  }
}

// Big Button
.c-unit-btn {
  background-color: rgba(0,0,0,.3);
  border-radius: 45px;
  // border: solid 3px currentColor;
  color: #fff;
  font-size: 1.2em;
  font-family: sans-serif; // Windows is being weird with Segoe UI's vertical centering :'('
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  // box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,.6);
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: .5em 1em;
  align-items: center;
  justify-content: space-between;

  span::before {
    content: "Unit ";
    white-space: nowrap;
  }

  &::after {
    content: "+";
  }

  &:hover,
  &:focus {
    background-color: rgba(255,255,255, .3);
  }

  @media (min-width: 37.5em) {
    border-radius: 100%;
    padding: 0;
    font-size: 6rem;
    justify-content: center;
    line-height: 0; // weird Safari bug

    span::before,
    &::after {
      content: "";
    }
  }
}

.c-btn-group {
  background-color: lightslategrey;
}


.c-banner {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(18.75rem, 25rem) minmax(auto, 41.5rem) minmax(1rem, 1fr);
  grid-template-rows: 3rem max-content minmax(1rem, 1fr);
  position: relative;
  min-height: 36vw; // maintains aspect ratio

  &__text {
    background-color: rgba(37, 40, 43, .9);
    color: #fff;
    grid-column: 2 / span 1;
    grid-row: 2;
    z-index: 1;
  }

  &__img {
    grid-area: 1 / 1 / -1 / -1;
    object-fit: cover;
    position: absolute; // Safari is being weird
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.c-reveal-block {
  display: block;
  position: relative;
  overflow: hidden;

  [aria-expanded] {
    transition: transform .3s ease-in-out;
    transform: scale(1);
  }

  [aria-expanded="true"] {
    transform: scale(.7);

    &:focus {
      outline: 0;
    }
  }

  > button {
    appearance: none;
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 0;

    &:focus {
      outline-offset: -2px;
      outline-width: 4px;
    }
  }

  &__img {
    display: block;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255,255,255,.9);
    color: var(--secondary1);
    padding: 1em;
    transition: top .3s ease-in-out;
    will-change: top;
    width: 100%;
    height: 100%;
    margin-top: 0;
    top: 100%;

    [aria-expanded="false"] + & {
      position: absolute;
      display: block;
    }
  
    [aria-expanded="true"] + & {
      border: solid 1px;
      position: absolute;
      margin-top: 0;
      top: 0;
    }
  }
}

.c-reveal {
  color: var(--primary1);
  border: solid 1px;
  margin-top: calc(var(--flow) * 1em);

  summary {
    display: block;
    
    h3::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="28"><path d="M22 11.5v3a1.5 1.5 0 0 1-1.5 1.5H14v6.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 8 22.5V16H1.5A1.5 1.5 0 0 1 0 14.5v-3A1.5 1.5 0 0 1 1.5 10H8V3.5A1.5 1.5 0 0 1 9.5 2h3A1.5 1.5 0 0 1 14 3.5V10h6.5a1.5 1.5 0 0 1 1.5 1.5z"/></svg>');
    }
  }

  &[open] {
    h3::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="28"><path d="M22 11.5v3a1.5 1.5 0 0 1-1.5 1.5h-19A1.5 1.5 0 0 1 0 14.5v-3A1.5 1.5 0 0 1 1.5 10h19a1.5 1.5 0 0 1 1.5 1.5z"/></svg>');
    }
  }
}

// Temporary slider styles
.gallery-container {
  position: relative;
}

.gallery {
  border: 2px solid;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  // -webkit-scroll-snap-type: mandatory;
  // -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  // -webkit-scroll-snap-points-x: repeat(100%);
  // -ms-scroll-snap-points-x: repeat(100%);
  scroll-snap-points-x: repeat(100%);
}

.gallery:focus,
.gallery-controls button:focus {
  outline: 4px solid skyBlue;
  outline-offset: -4px;
}

.gallery > ul {
  display: flex;
  padding: 0;
}

.gallery > ul > li {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  min-width: 0;
}

.gallery > ul > li * {
  min-width: 0;
}

.gallery > ul > li > div {
  width: 100%;
  padding: 2rem;
}

.gallery img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 1px;
  min-height: 1px;
}

.gallery::-webkit-scrollbar {
  height: 0.75rem;
}

.gallery::-webkit-scrollbar-track {
  background-color: #ddd;
}

.gallery::-webkit-scrollbar-thumb {
  background-color: #000;
}

#instructions {
  display: none;
  text-align: center;
  margin-top: 0.5rem;
}

.gallery:hover+#instructions,
.gallery:focus+#instructions,
.touch #instructions {
  display: block;
}

.gallery figure,
noscript {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  height: 50vh;
}

noscript {
  padding: 0;
}

.gallery figcaption {
  height: 2rem;
  line-height: 2rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
}

.gallery-controls li {
  display: inline;
}

.gallery-controls button {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 3rem;
  border: 0;
  padding: 0.5rem;
  background: #000;
}

.gallery-controls svg {
  width: 100%;
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5;
  stroke-linejoin: round;
}

.previous {
  left: 0;
}

.next {
  left: calc(100% - 3rem);
}

.c-activity {
  border: none;
  width: 100%;
  height: 100%;
}