.c-main-head {
  background-color: $secondary1; // fallback;
  border-color: $primary1; // fallback
  background-color: var(--secondary1);
  border: solid var(--primary1) 0;
  border-bottom-width: 5px;
  color: #fff;

  &__details {
    font-size: 1.125em; // 18px @ 16px base
    grid-area: details;

    @supports(display: grid) {
      margin-top: 0;
    }

    span {
      display: block;
    }
  }

  &__sessions {

    order: -1; // fallback

    grid-area: session-nav;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
      display: inline-block;
      margin: 0 .5em 10px 0;
      
      
      a {
        color: currentColor;
        border-top: solid 4px;
        display: block;
        text-decoration: none;
      }
    }
    
    [aria-current="step"] {
      color: $primary1;
    }

    @supports (gap: 1px) {
      gap: .5em;
  
      li {
        margin: 0;
      }
    }
  }

  &__course {
    font-size: 2em;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__session {
    font-style: italic;
  }
}

.c-pagination {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  max-width: calc((1000 / 16) * 1em);
  margin: auto;

  &::before {
    content: "Page: ";
    align-self: center;
  }

  &__prev {
    order: -1;
  }

  &__next {
    order: 2;
  }

  li {
    display: inline-block; /* Fallback */
    flex: 0 1 44px;
    padding: 0 .5em;
     
    > a {
      display: flex;
      height: 100%;
      text-align: center; // fallback
      justify-content: center;
      align-items: center;
      
      &:hover,
      &:focus {
        color: $primary1;
      }

      &[aria-current="page"] {
        border-bottom: solid var(--primary1) 4px;
        border-bottom: solid 4px $primary1;
        filter: unset;
      }
    }
  }
}

.v2l-logo {
  grid-area: logo;
  width: 100%;
  max-width: 190px;
  // IE11
  height: 40px; 
  display: block;

  @supports (display: grid) {
    height: auto;
  }
}

.c-quiz {
  color: #fff;
  font-size: 1.5em;
  margin-top: calc(1.5 * 1rem);
  // TODO: Sass vars in calc() don't work?

  &.js-form-error {
    border-left: solid 5px #fa0;
    padding-left: .5rem;

    .field-validation-error {
      color: #fa0;
      display: block;
    }
  }

  fieldset {
    background-color: $primary3;
    border: 0;
    counter-reset: answers;
    display: inline-block; // Blink fix
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 3rem 0 0;
  }

  legend {
    background-color: $primary3;
    padding: .5em;
    width: 100%;
    
    &::before {
      display: block;
      font-size: 1rem;
      content: attr(data-v2l-qnum);
      justify-self: start;
    }
  }

  [disabled] + label {
    // background-color: inherit;
    filter: opacity(.2);
    cursor: not-allowed;

    &:hover {
      background-color: inherit;
    }
  }
  
  label {
    cursor: pointer;
    display: inline-block;
    align-items: center;
    width: 100%;

    &:hover,
    &:focus {
      background-color: $primary1;
    }

    &::before {
      counter-increment: answers;
      content: counter(answers, upper-alpha) ". ";
      text-align: center;
    }

  }

  toggle-section {
    font-size: 1rem;
    padding: .5em;
  }

  &__fb {
    background-color: $primary3;
    font-size: 1rem;
    padding: .5em;
  }

  &__answer {
    background-color: $primary2;
    margin-top: 0 !important;
    position: relative;
  }

  &__result {
    display: flex;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background:
    rgb(255, 255, 255);
    margin: 0;
    padding: 3rem;
    box-shadow: 0 0 0 100px
    rgba(0,0,0,.7);
    color:
    black;
    border: solid
    #00a3dc 10px;

    > * {
      margin: auto;
    }
  }

  // Binding styles to attribute types rather than class to encourage correct markup
  [type='radio'],
  [type='checkbox'] {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 65px;
    height: 65px;
    cursor: pointer;
    opacity: 0;
    // visibility: hidden; // fixes weird jump to top bug

    &:focus:not([disabled]) + label {
      @extend %focus;
    }

    &:checked + label {
      &::after {
        background-color: inherit;
        line-height: 1;
        padding: .7em;
      }
    }

    &:checked,
    &:focus {
      + label {
        background-color: $primary1;
      }
    }
  }

  [type='checkbox']:checked + label::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" fill="white"><path d="M24 14c0 6.625-5.375 12-12 12S0 20.625 0 14 5.375 2 12 2s12 5.375 12 12z"/></svg>');
  }

  [type='radio']:checked {
    + [data-v2l-correct=true]::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" fill="white"><path d="M26.109 8.844c0 .391-.156.781-.438 1.062L12.233 23.344c-.281.281-.672.438-1.062.438s-.781-.156-1.062-.438l-7.781-7.781c-.281-.281-.438-.672-.438-1.062s.156-.781.438-1.062l2.125-2.125c.281-.281.672-.438 1.062-.438s.781.156 1.062.438l4.594 4.609 10.25-10.266c.281-.281.672-.438 1.062-.438s.781.156 1.062.438l2.125 2.125c.281.281.438.672.438 1.062z"/></svg>');
      background-color: #13ad65;
    }
    
    + [data-v2l-correct=false]::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 28" fill="white"><path d="M20.281 20.656c0 .391-.156.781-.438 1.062l-2.125 2.125c-.281.281-.672.438-1.062.438s-.781-.156-1.062-.438L11 19.249l-4.594 4.594c-.281.281-.672.438-1.062.438s-.781-.156-1.062-.438l-2.125-2.125c-.281-.281-.438-.672-.438-1.062s.156-.781.438-1.062L6.751 15l-4.594-4.594c-.281-.281-.438-.672-.438-1.062s.156-.781.438-1.062l2.125-2.125c.281-.281.672-.438 1.062-.438s.781.156 1.062.438L11 10.751l4.594-4.594c.281-.281.672-.438 1.062-.438s.781.156 1.062.438l2.125 2.125c.281.281.438.672.438 1.062s-.156.781-.438 1.062L15.249 15l4.594 4.594c.281.281.438.672.438 1.062z"/></svg>');
      background-color: #eb6224;
    }
  }
}

.js-quiz {

  position: relative;
  overflow: hidden;
  
  fieldset {
    position: absolute;
    left: 100%;
    
    &[data-v2l-active=true] {
      position: static;
    }
  }

}

.js-quiz,
#formQuiz {
  fieldset {
    margin-top: 0;
  }
}

#formQuiz {
  label::after {
    display: none;
  }

  .field-validation-error {
    display: block;
    color: red;
    background: white;
    margin: .5em 0;
    padding: .5em;
    outline: dashed currentColor;
    outline-offset: -5px;
  }
}

//Slider
.c-slider {
  padding-left: 0;
  position: relative;
  counter-reset: slides;

  &__container {
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(100%);
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      height: .75rem;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #eee;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #000;
    }

    ul {
      display: flex;
      align-items: center;
    }

    li {
      list-style: none;
      flex: 0 0 auto;
      width: 100%; // IE
      padding: 2rem;
      scroll-snap-align: start;
      counter-increment: slides;
    }
  }

  &__count {
    .visible &::after {
      content: "Slide " counter(slides) " of " attr(data-v2l-count);
      position: absolute;
      color: $secondary1;
      bottom: 3.5rem;
      right: 3.5rem;
      background: #fff;
      font-size: .8em;
      padding: .5em;
      border-radius: 5px;
      line-height: 1;
    }
  }

  &__instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 3rem; // if you change this, change the corresponding value in the button height

    svg,
    p {
      display: none;
    }

    p {
      padding: 1rem;
      text-align: center;
      // color: #fefefe;
      // background-color: #111;
    }
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
    vertical-align: -.5rem;
  }
}

.gallery .l-media {
  // grid-template-columns: auto 30%;
}

.c-slider__container:focus, 
[aria-label="slider controls"] button:focus {
  outline: 1px solid; // DodgerBlue;
  outline-offset: -6px;
}

[aria-label="slider controls"] {

  li {
    list-style: none;
  }

  button {
    position: absolute;
    top: 0;
    color: $secondary1;
    background: none;
    border: none;
    border-radius: 0;
    width: 3rem;
    height: calc(100% - 3rem);

    &:focus {
      outline-offset: -4px;
    }
  }

  #previous {
    left: 0;
  }
  
  #next {
    right: 0;
  }
}

.touch #instructions p {
  display: none !important;
  margin-top: 0;
}

.touch #instructions #touch {
  display: block !important;
}

button svg {
  width: 2rem;
  height: 2rem;
}

.c-wordbank {
  // color: #fff;
  margin-top: #{$flow}rem;

  &__questions {
    background-color: $supporting3;

    li {
      padding: 1em;
      position: relative;
      background-color: $supporting3;

      &:nth-child(even) {
        background-color: $supporting2
      }
    }
  }

  &__options {
    display: inline-block;
    width: auto;
    max-width: max-content;
  }

  p {
    margin: 0 !important;
  }

  p::after {
    width: 1em;
    height: 1em;
    vertical-align: top;
  }

  .correct::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"><path d="M26.109 8.844c0 .391-.156.781-.438 1.062L12.233 23.344c-.281.281-.672.438-1.062.438s-.781-.156-1.062-.438l-7.781-7.781c-.281-.281-.438-.672-.438-1.062s.156-.781.438-1.062l2.125-2.125c.281-.281.672-.438 1.062-.438s.781.156 1.062.438l4.594 4.609 10.25-10.266c.281-.281.672-.438 1.062-.438s.781.156 1.062.438l2.125 2.125c.281.281.438.672.438 1.062z"/></svg>');
  }

  .incorrect::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="28"><path d="M20.281 20.656c0 .391-.156.781-.438 1.062l-2.125 2.125c-.281.281-.672.438-1.062.438s-.781-.156-1.062-.438L11 19.249l-4.594 4.594c-.281.281-.672.438-1.062.438s-.781-.156-1.062-.438l-2.125-2.125c-.281-.281-.438-.672-.438-1.062s.156-.781.438-1.062L6.751 15l-4.594-4.594c-.281-.281-.438-.672-.438-1.062s.156-.781.438-1.062l2.125-2.125c.281-.281.672-.438 1.062-.438s.781.156 1.062.438L11 10.751l4.594-4.594c.281-.281.672-.438 1.062-.438s.781.156 1.062.438l2.125 2.125c.281.281.438.672.438 1.062s-.156.781-.438 1.062L15.249 15l4.594 4.594c.281.281.438.672.438 1.062z"/></svg>');
  }

  

  // @for $i from 0 through 10 {
  //   [data-v2l-ai="#{$i}"] > [value="#{$i}"]:checked :root {
  //     background: yellow;
  //   }
  // }
}

// Big Button
.c-unit-btn {
  background-color: rgba(0,0,0,.3);
  // border-radius: 45px;
  border-radius: 100%;
  border: solid 3px currentColor;
  color: #fff;
  font-size: calc(2em + 1vw);
  font-family: sans-serif; // Windows is being weird with Segoe UI's vertical centering :'('
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  // box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,.6);
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;
  // padding: .5em 1em;
  align-items: center;
  justify-content: center;

  // span::before {
  //   content: "Unit ";
  //   white-space: nowrap;
  // }

  // &::after {
  //   content: "+";
  // }

  &:hover,
  &:focus {
    background-color: rgba(255,255,255, .3);
  }

  @media (min-width: 37.5em) {
    padding: 0;
    font-size: 6rem;
    justify-content: center;
    line-height: 0; // weird Safari bug

    span::before,
    &::after {
      content: "";
    }
  }
}

.c-btn-group {
  background-color: lightslategrey;
}


.c-banner {
  // fallback
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(37, 40, 43, .9);
  color: #fff;
  // align-items: center;

  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(18.75rem, 25rem) minmax(auto, 41.5rem) minmax(1rem, 1fr);
  grid-template-rows: 3rem max-content minmax(1rem, 1fr);
  position: relative;
  overflow: hidden;

  @supports(display: grid) {
    min-height: 36vw; // maintains aspect ratio
  }

  &__text {

    flex: 1 1 25rem; //fallback

    position: relative;
    grid-column: 2 / span 1;
    grid-row: 2;
    z-index: 1;

    @supports(display: grid) {
      background-color: inherit;
    }
  }

  &__img {

    // fallback
    flex: 2 0 auto;
    align-self: center;

    grid-area: 1 / 1 / -1 / -1;
    object-fit: cover;
    z-index: 0;
    
    @supports(display: grid) {
      width: 100%;
      height: 100%;
      position: absolute; // Safari is being weird
    }
  }
}

.c-reveal-block {

  //background-color: $secondary2;
  //background-color: var(--secondary2);
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  break-inside: avoid; // makes items flow nicely in CSS columns

  &.js-ok {
    display: block;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;

    [aria-expanded] {
      transition: transform .3s ease-in-out;
      transform: scale(1);
    }

    [aria-expanded="true"] {
      transform: scale(.7);

      &:focus {
        outline: 0;
      }
    }

    > button:first-of-type {
      appearance: none;
      background: none;
      border: none;
      display: block;
      cursor: pointer;
      width: 100%;
      height: 100%;
      padding: 0;
  
      &:focus {
        outline-offset: -2px;
        outline-width: 4px;
      }
    }
  }

  &__icon {
    display: block;
    flex: 1;
    width: 100px;
    height: 100px;

    .js-ok & {
      object-fit: cover;
    
      @supports(display: grid) {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__desc {
    flex: 5;
    margin-left: 1em;
    margin-top: 0 !important; // TODO: remove important
    will-change: top;

    [aria-expanded] + & {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(255,255,255,.9);
      color: $secondary1;
      padding: 1em;
      transition: top .3s ease-in-out;
      width: 100%;
      height: 100%;
      margin: 0;
      top: 100%;
    }

    [aria-expanded="false"] + & {
      position: absolute;
      display: block;
    }
  
    [aria-expanded="true"] + & {
      border: solid 1px;
      position: absolute;
      margin-top: 0;
      top: 0;
    }

    + button {
      background-color: transparent;
      color: currentColor;
      opacity: 0;
      padding: 0;
      transition: opacity .5s .5s ease-in-out;
    }

    + .js-close-btn {
      color: #000;
      position: absolute;
      top: .5em;
      right: .5em;
      outline-offset: -7px;
      opacity: 1;
    }
  }
}

.c-reveal {
  color: $primary1;
  border: solid 1px;
  margin-top: calc(var(--flow) * 1em);

  summary {
    display: block;
    
    h3::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="28"><path d="M22 11.5v3a1.5 1.5 0 0 1-1.5 1.5H14v6.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 8 22.5V16H1.5A1.5 1.5 0 0 1 0 14.5v-3A1.5 1.5 0 0 1 1.5 10H8V3.5A1.5 1.5 0 0 1 9.5 2h3A1.5 1.5 0 0 1 14 3.5V10h6.5a1.5 1.5 0 0 1 1.5 1.5z"/></svg>');
    }
  }

  &[open] {
    h3::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="28"><path d="M22 11.5v3a1.5 1.5 0 0 1-1.5 1.5h-19A1.5 1.5 0 0 1 0 14.5v-3A1.5 1.5 0 0 1 1.5 10h19a1.5 1.5 0 0 1 1.5 1.5z"/></svg>');
    }
  }
}

.gallery > ul {
  list-style-type: none;
  padding: 0;
}

.gallery > ul > li {
  margin-top: 1.5rem !important;
  scroll-snap-align: start;
}

.js {
  // Temporary slider styles
  .gallery-container {
    position: relative;
    max-width: calc(100vw - 4rem);
    margin-left: auto;
    margin-right: auto;
  }

  .gallery {
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    // -webkit-scroll-snap-type: mandatory;
    // -ms-scroll-snap-type: mandatory;
    // scroll-snap-type: mandatory;
    // -webkit-scroll-snap-points-x: repeat(100%);
    // -ms-scroll-snap-points-x: repeat(100%);
    // scroll-snap-points-x: repeat(100%);
  }

  .gallery:focus,
  .gallery-controls button:focus {
    // outline: 4px solid $highlight;
    outline-offset: -4px;
  }

  .gallery > ul {
    display: flex;
    padding: 0;
  }

  .gallery > ul > li {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    margin-top: 0 !important;
    min-width: 0;
  }

  .gallery > ul > li * {
    min-width: 0;
  }

  .gallery > ul > li > div {
    width: 100%;
    padding: 2rem;
  }

  .gallery img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 1px;
    min-height: 1px;
  }

  // .gallery::-webkit-scrollbar {
  //   height: .75rem;
  // }

  // .gallery::-webkit-scrollbar-track {
  //   background-color: #ddd;
  // }

  // .gallery::-webkit-scrollbar-thumb {
  //   background-color: #000;
  // }

  #instructions {
    display: none;
    text-align: center;
    margin-top: 0.5rem;
  }

  .gallery:hover+#instructions,
  .gallery:focus+#instructions,
  .touch #instructions {
    display: block;
  }

  .gallery figure,
  noscript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    height: 50vh;
  }

  noscript {
    padding: 0;
  }

  .gallery figcaption {
    height: 2rem;
    line-height: 2rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
  }

  .gallery-controls li {
    display: inline;
  }

  .gallery-controls button {
    position: absolute;
    bottom: 0;
    color: currentColor;
    top: 0;
    width: 3rem;
    border: 0;
    padding: 0.5rem;
    background: transparent;

    &:active {
      box-shadow: none;
    }
  }

  // TODO: Fix colour
  .gallery-controls svg 
  {
    width: 100%;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 1.5;
    stroke-linejoin: round;
  }

  .previous {
    left: 0;
  }

  .next {
    left: calc(100% - 3rem);
  }

  .c-activity {
    border: none;
    width: 100%;
    height: 100%;
  }
}


// Accordion
// TODO: Refactor accordion CSS to match naming conventions elsewhere

.controls {
  text-align: right;
  margin-bottom: 1em;
}

.controls li {
  display: inline;
}

.controls button {
  background: #000;
  color: #fff;
  border: 0;
  font-size: 0.85rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
}

.controls button:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem $highlight;
  box-shadow: 0 0 0 0.25rem var(--highlight);
}

/*
Custom elements are inline by default
*/

toggle-section {
  display: block;
  margin-top: 1.5rem;

}

/*
Only applies if script runs and 
`role="region"` is added
*/

toggle-section[role="region"] {
  border-width: 2px 0;
  border-style: solid;
  margin-top: 0;

  // When a media  object is used inside a Reveal, JS moves the title so we need to rejig the the layout
  .l-media__body {
    align-self: center;
    // grid-row: 1 / -1;
  }
  
  > h3 {
    display: none;
  }
}

toggle-section[role="region"]+toggle-section {
  border-top: 0;
}

// Code for polyfilled browsers (IE11, pre-Blink Edge etc)
// can be removed eventually
toggle-section[role="region"] .style-scope {
  margin: 0 !important;
  background-color: inherit;
  color: currentColor;
}

toggle-section[role="region"] button.style-scope {
  text-transform: capitalize;

  &:focus {
    background-color: rgba(0,0,0,.3);
  }
}

h2.toggle-section::before {
  content: "";
  display: none;
}

#unit-overview,
#goal-setting {
  .l-btn-group {
    display: none;
  }

  .l-btn-group[role='tablist'] {
    display: flex;
  }
}

.tabbed:not(.js-tabs) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > section {
    background: rgba(0,0,0,.3);
    flex: 0 1 285px;
    padding: 1em;
    margin-bottom: 1.5rem;

    ul {
      padding-left: 40px;
    }
  }
}

.c-toggle-btn {
  --toggle-height: 40px;
  --button-height: calc(var(--toggle-height) - 10px);
  background: hsl(200, 80, 50);
  border-radius: 50px;
  color: #fff;
  font-size: 1.8rem;
  height: var(--toggle-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  padding: 0 20px;
  box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,.3);
  cursor: pointer;
  
  
  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  
  > div {
    display: inline-block;
    flex: 1;
    text-align: right;
  }
  
  [type='radio'] {
    position: absolute;
    display: block;
    top: -2px;
    left: -2px;
    margin: 0;
    opacity: 0;
    
   
    
    + label > b {
      opacity: 0;
      font-weight: normal;
      transition: opacity .3s ease-in-out;
      flex: 1;
    }
    
    &:checked {
      + label {
        z-index: 0
      }
      
      + label > b {
        opacity: 1;
      }
    }
  }
  
  [type='radio']:hover,
  [type='radio']:focus {
    + label {
      box-shadow: 0 0 5px 1px hsla(60, 50, 50, .8);
      border-radius: 50px;
    }
  }
  
  > div:first-of-type {
      text-align: left;
    
      [type='radio'] {
      
        
        + label::before {
        
            position: absolute;
            content: '';
            display: block;
            background: white;
            top: calc((60px - 50px) / 2);
            left: 5px;
            border-radius: 50px;
            width: var(--button-height);
            height: var(--button-height);
            box-shadow: 0 0 5px 1px rgba(0,0,0,.4);
            transition: left .3s ease-in-out;

        }
    
        &:checked {
          + label::before {
            left: calc(100% - (var(--button-height) + 5px));
          }
        }
    }
  }
}

.c-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transition: opacity .2s ease-in-out;

  :first-child {
    border: 0;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.7);
  }

  [data-v2l-overlay] & {
    opacity: 1;
  }

  button {
    background-color: var(--primary1);
    border: solid #fff 3px;
    outline: solid #000 3px;
  }
}

.c-interactive,
[data-v2l-id='animation_container'] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  [data-v2l-loadbtn] {
    margin: 4rem;
  }

  > canvas {
    display: block; 
    background-color:inherit; 
    max-width: 100%; //calc(100% - 2rem);
    flex: 1;
  }
}

.c-vidgrid {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 1rem;
  list-style: none;
  margin-top: 1.5rem;
  margin-top: calc(var(--flow) * 1rem);
  padding: 0;
  
  > li {
    flex: 1 1 270px;
    padding: .5em; // fallback

    @supports(gap: 1px) {
      padding: 0;
    }

    > .l-video-container {
      margin-top: .3rem !important;
    }
  }
}

// Code blocks
.c-code {
  overflow: auto;
}

code:not(.language-text) {
  .highlight-line {
    counter-increment: count;
  }
  
  .highlight-line::before {
    content: counter(count) ".";
    margin-right: 1em;
    color: hsl(195, 10%, 80%)
  }
}
