.c-main-head {
  background-color: #000;
  color: #fff;

  &__details {
    font-size: 1.125em; // 18px @ 16px base
    grid-area: details;

    span {
      display: block;
    }
  }

  nav {
    grid-area: nav;
    
    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;
      // gap: .5em;
      justify-content: flex-start;

      li {
        display: inline-block;
        margin: 0 .5em 10px 0;

        // @supports (row-gap: 1px) {
        //   margin: 0;
        // }

        a {
          color: currentColor;
          border-top: solid 4px;
          display: block;
        }
      }
    }
  }

  &__course {
    font-size: 2em;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__session {
    font-style: italic;
  }
}

.v2l-logo {
  grid-area: logo;
}

.l-vc,
%l-vc {
  display: flex;
  align-items: center;
}

.l-quiz {
  display: grid;
  grid-template-rows: repeat(3, minmax(50px, max-content));
  grid-auto-rows: minmax(50px, max-content);
  // grid-gap: 3px;
}

.c-quiz {
  counter-reset: quiz;

  *, *::before, &::before {    
    padding: .5em;
  }

  &--quick {
    &::before {
      @extend %l-vc;
      counter-increment: quiz;
      content: "Question " counter(quiz);
      justify-self: start;
    }
  }

  fieldset {
    border: 0;
    counter-reset: answers;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }

  &__answer {
    position: relative;
    padding: 0 calc((50 / 16) * 1em);
  }

  label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    
    &::before {
      counter-increment: answers;
      content: counter(answers, upper-alpha) ". ";
      left: 0;
    }

    &::after {
      right: 0;
    }

    &::before,
    &::after {
      @extend %l-vc;
      position: absolute;
      top: 0;
      width: calc((50 / 16) * 1em);
      height: 100%;
      text-align: center;
      justify-content: center;      
    }
  }

  // TODO: Abstract into reusable class?
  &__control {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0;

    &:checked {
      + label {
        background-color: rgba(255,255,255, .2);
        
        &::after {
          float: right;
        }
      }

      + [data-v2l-correct=true]::after {
        content: url(/images/svg/check.svg); //attr(data-v2l-correct);
      }
      
      + [data-v2l-correct=false]::after {
        content: url(/images/svg/cross.svg); //attr(data-v2l-correct);
      }
    }
  }

  &:target {
    > .c-quiz__fb {
      display: inherit;
    }
  }

  &__legend {
    font-weight: bold;
  }
  
  &__fb {
    font-size: .8em;
  }
}

// // Slider
.c-slider {
  position: relative;
  counter-reset: slides;

  &__container {
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(100%);
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      height: .75rem;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #eee;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #000;
    }

    ul {
      display: flex;
      align-items: center;
    }

    li {
      list-style: none;
      flex: 0 0 auto;
      width: 100%; // IE
      padding: 2rem;
      scroll-snap-align: start;
      counter-increment: slides;
    }

    &:focus,
    &:hover {
      + #instructions svg {
        display: inline;
      }
    }

    &:focus + #instructions #focus,
    &:hover + #instructions #hover {
      display: block;
    }

    &:hover + #instructions #hover + #focus {
      display: none;
    }

    &:hover:focus + #instructions #hover, 
    &:hover:focus + #instructions #focus {
      display: none;
    }

    &:hover:focus + #instructions #hover-and-focus {
      display: block;
    }
  }

  &__count {
    .visible &::after {
      content: "Slide " counter(slides) " of " attr(data-v2l-count);
      position: absolute;
      bottom: 3.5rem;
      right: 3.5rem;
      background: #fff;
      font-size: .8em;
      padding: .5em;
      border-radius: 5px;
      line-height: 1;
    }
  }

  &__instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 3rem; // if you change this, change the corresponding value in the button height

    svg,
    p {
      display: none;
    }

    p {
      padding: 1rem;
      text-align: center;
      // color: #fefefe;
      // background-color: #111;
    }
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
    vertical-align: -.5rem;
  }
  
}


.c-slider__container:focus, 
[aria-label="slider controls"] button:focus {
  outline: 4px solid DodgerBlue;
  outline-offset: -6px;
}

[aria-label="slider controls"] {

  li {
    list-style: none;
  }

  button {
    position: absolute;
    top: 0;
    color: currentColor;
    background: none;
    border: none;
    border-radius: 0;
    width: 3rem;
    height: calc(100% - 3rem);

    &:focus {
      outline-offset: -4px;
    }
  }

  #previous {
    left: 0;
  }
  
  #next {
    right: 0;
  }
}

.touch #instructions p {
  display: none !important;
}

.touch #instructions #touch {
  display: block !important;
}

button svg {
  width: 2rem;
  height: 2rem;
}

.c-wordbank {

  &__questions {

    li {
      margin-top: calc(var(--flow) * 1rem);
      padding: 1em;
    }
  }

  &__options {
    display: inline-block;
    width: auto;
  }
}
