[class*="i-"] h2 {
  display: flex;
  align-items: center;

  &::before {
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-right: 1em;
  }
}

.i-quiz h2::before {
  content: url(/images/svg/course-features/quiz.svg);
}

.i-on-web h2::before {
  content: url(/images/svg/course-features/web.svg);
}

.i-summary h2::before {
  content: url(/images/svg/course-features/summary.svg);
}

.i-stretch h2::before {
  content: url(/images/svg/course-features/stretch.svg);
}

.i-keypoint h2::before {
  content: url(/images/svg/course-features/keypoint.svg);
}

.i-think h2::before {
  content: url(/images/svg/course-features/think.svg);
}

.i-read h2::before {
  content: url(/images/svg/course-features/read.svg);
}

.i-watch h2::before {
  content: url(/images/svg/course-features/watch.svg);
}