.l-page {
  // display: grid;
  // grid-template-columns: 1fr [main-start] minmax(auto, 64.5rem) [main-end] 1fr;
}

body {
  > header,
  > main > section,
  > aside,
  > footer {
    display: grid;
    grid-template-columns: minmax(.5rem, 1fr) minmax(auto, 70ch) minmax(.5rem, 1fr);
    
    > * {
      grid-column: 2 / span 1;
    }
  }
}


.l-head {
  display: grid;
  grid-row-gap: 1.5rem;
  // grid-template-columns: 1fr repeat(auto-fill, 1fr) 190px 1fr;
  grid-template-areas: 
    "logo"
    "nav"
    "details";
    padding: .5rem 1rem;

  @supports (display: grid) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 40em) {
    grid-template-columns: 1fr 182px;
    grid-template-rows: max-content max-content;
    grid-template-areas: 
      "nav logo"
      "details details";
  }
}

.l-vc,
%l-vc {
  display: flex;
  align-items: center;
}

.l-quiz {
  display: grid;
  grid-template-rows: repeat(3, minmax(50px, max-content));
  grid-auto-rows: minmax(50px, max-content);
  // grid-gap: 3px;
}

.l-btn-group {
  padding: 0;

  li,
  a {
    align-items: center;
  }

  li {
    display: block;
    padding: .2rem;
  }

  @media (min-width: 37.5em) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      display: flex;
      padding: 0;
      justify-content: center;
      line-height: 0; // weird Safari bug
    }
  }
}