[data-v2l-env="netlify"] {
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-areas: 'toolbar' 'site';

  > .l-wrapper {
    grid-area: site;
  }

  > .toolbar {
    grid-area: toolbar;
  }
}

.l-wrapper {

  // transition: filter .2s ease-in-out;
  /* Flow */
  // TODO: What about <sections>
  // main * + *:not([class^="c-"]),
  // main * + *:not([class^="c-"] > *) {
  * + p,
  * + ul:not([class]),
  * + ol,
  * + dl,
  * + div:not(.gallery),
  * + table,
  * + video {
    margin-top: 1.5rem;
    margin-top: calc($flow * 1rem);
  }

  * + h2,
  * + h3 {
    margin-top: 1.5em;
    margin-top: calc($flow * 1em);
  }

  > header,
  > main > section:not(.c-banner),
  > aside,
  > footer,
  > nav {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 62.5rem) minmax(1rem, 1fr);
    
    > * {
      grid-column: 2 / span 1;
    }
  }
}

main {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr;
  // grid-row-gap: 80px;
}

main > section:not(.c-banner) {
  padding: 2.5rem;

  @supports(display: grid) {
    padding: 2.5rem 0;
  }

  // * + * {
  //   margin-top: 1.5rem;

  //   @supports(--a: 0) {
  //     margin-top: calc($flow * 1rem);
  //   }
  // }

  * + h2,
  * + h3 {
    margin-top: 1.5em;
    margin-top: calc($flow * 1em);
  }

  li,
  dt,
  dd,
  br,
  th,
  td,
  figcaption,
  input,
  select {
    margin-top: 0; // !important;
  }
}

.boxout {
  padding: 2em;

  &-medium {
    padding: 1em;
  }

  &-small {
    padding: .5em;
  }
}

.l-media {
  // fallback

  &__img {
    display: block;
    width: 60%;       
    max-width: 350px;
    max-height: 100%;
    margin: 1.5em auto 0;
  }

  @supports(display: grid) {
    display: grid;
    grid-gap: 1.5rem 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "title title title title title"
      "body body body body body"
      ". img img img .";

    &--video,
    &--max {
      grid-template-areas:
      "title title title title title"
      "body body body body body"
      "img img img img img";
    }

    @media (min-width: 650px) {
      grid-template-columns: auto 35%;
      grid-template-rows: auto auto;
      grid-template-areas:
        "title img"
        "body img";
      align-items: center;

      toggle-section & {
        grid-template-areas:
        "body img"
        "body img";
      }
    
      &--rev {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
        "img title"
        "img body";
      }

      &--half {
        grid-template-columns: 1fr 1fr;
      }

      &--video {
        grid-template-areas: 
          "title img"
          "body img";
      }
    }

    &__title {
      align-self: end;
      grid-area: title;
      width: unset;
    }

    &__body {
      align-self: start;
      grid-area: body;
      width: unset;
      margin-top: 0 !important; // TODO FIX MARGIN-TOP INHERITANCE

      &--full {
        grid-row: span 2;
        align-self: center;
      }
    }

    &__img {
      grid-area: img;
      margin-top: 0;
      align-self: center;
      display: block;
      margin: unset;
      width: unset;
      max-width: 100%;
      max-height: unset;
      position: static;
    
      > img,
      > svg {
        max-width: 300px;
      }

    }
  }
}

.l-head {
  // fallback
  display: flex;
  flex-direction: column;

  display: grid;
  grid-row-gap: 1.5rem;
  // grid-template-columns: 1fr repeat(auto-fill, 1fr) 190px 1fr;
  grid-template-areas: 
    "logo"
    "session-nav"
    "details"
    "pagination";
    padding: .5rem 1rem;

  @supports (display: grid) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 50em) {
    grid-template-columns: 5fr 1fr 182px;
    grid-column-gap: 1rem;
    grid-template-rows: max-content max-content;
    grid-template-areas: 
      "session-nav . logo"
      "details pagination pagination";

    nav {
      align-self: end;
    }
  }
}

.l-vc,
%l-vc {
  display: flex;
  align-items: center;
}

.l-quiz {
  display: grid;
  grid-auto-rows: minmax(50px, auto);

  label {
    display: grid;
    grid-template-columns: 65px 1fr 65px;
    grid-auto-rows: minmax(65px, auto);
  }
}

.l-btn-group {
  padding: 1em;
  width: 100%;
  gap: 1em;
  flex-wrap: wrap;

  li,
  a {
    align-items: center;
  }

  li {
    display: block;
    width: 20vw;
    height: 20vw;
    // flex: 1 1 100%;
    // padding: .2rem;
    max-width: 8rem;
    max-height: 8rem;

  }

  @media (min-width: 37.5em) {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;

    // a {
    //   display: flex;
    //   padding: 0;
    //   justify-content: center;
    //   line-height: 0; // weird Safari bug
    // }
  }
}

.l-icon-grid {
  column-width: 20em;
  column-gap: 2em;
  break-inside: avoid;
  padding: 0;
  list-style: none;
  margin-top: 1.5em;

  .js & {
    // TODO: fallback needed?
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    
    column-width: unset;
    display: grid;
    grid-template-columns: repeat(auto-fit, 120px);
    grid-auto-rows: 266px;
    grid-gap: 2em;
    justify-content: center;
    font-size: .8em; // TODO: Remove, temp fix for overflow
    
    > li {
      flex: 0 1 260px;
      grid-column-end: span 2;
    }
    
    &--2x2 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.l-think {
  max-width: 60%;

  > textarea,
  > button {
    width: 100%;
  }

  @supports(display: grid) {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-self: unset;
    max-width: unset;
  
    > textarea {
      flex: 4;
    }
  
    > button {
      width: 100%;
  
      &:active {
        box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,.3);
      }
    }
  }
}

#animation_container {
  justify-self: center;
  max-width: calc(100vw - 2rem) !important;
  width: 100% !important;
}

.c-interactive {
  // width: calc(100% - 2rem) !important;
}

[data-v2l-overlay] {
  height: 100vh;
  overflow: hidden;

  > .l-wrapper {
    height: 100%;
    filter: blur(20px);
  }
}

#switcher {

  legend {
    @extend .visually-hidden;
  }

  fieldset {
    border: none;
    display: flex;
    flex-direction: column;

    > * + * {
      margin-top: calc(var(--flow) * 1rem);
    }

    > :nth-child(3) {
      order: 3;
      margin: 0;
    }
  }

  button {
    font-size: 1.1rem;
  }
}

.l-tablewrapper {
  overflow-x: scroll;
  max-width: calc(100vw - 2rem);
}
