[class^="t-bg-primary"],
[class^="t-bg-secondary"] {

  @supports (--a: 0) {
    color: #fff;
  }
}

.t-bg-primary {
  background-color: var(--primary1);
}

.t-bg-primary2 {
  background-color: var(--primary2);
}

.t-bg-primary3 {
  background-color: var(--primary3);
}

.t-bg-primary1a {
  background-color: #33b8e6;
}

.t-bg-primary1b {
  background-color: #66caec;
}

.t-bg-primary1c {
  background-color: #99dbf3;
}

.t-bg-white {
  background-color: #fff;
}

.t-bg-secondary1 {
  background-color: var(--secondary1);
}

.t-bg-secondary2 {
  background-color: var(--secondary2);
}

.t-bg-secondary3 {
  background-color: var(--secondary3);
}

.t-bg-supporting1 {
  background-color: var(--supporting1);
}

.t-bg-supporting2 {
  background-color: var(--supporting2);
}

.t-bg-supporting3 {
  background-color: #f3f3f3;
}

.t-bg-grey {
  background-color: var(--supporting2);
}

.t-bg-white,
.t-bg-supporting1,
.t-bg-supporting2 {
  color: var(--secondary1);
}