[data-v2l-tags="it"],
[data-v2l-theme="it"],
[data-v2l-theme="lean-management"] {
  --highlight: hsl(44,100%,50%);
}

[data-v2l-toggleText] {
  font-size: .8em;
  // color: var(--secondary2);
  color: currentColor;
}

// [class^="t-bg-secondary"],
// [class*="t-bg-secondary"],
// .t-bg-primary2,
// .t-bg-primary3 {
//   color: #fff;
//   color: var(--textB);
// }

[class^="t-bg-primary"],
[class*="t-bg-primary"],
.t-bg-supporting1,
.t-bg-supporting2,
.t-bg-supporting3,
.t-bg-grey {
  color: var(--textToggle);
}


.t-bg-primary2,
.t-bg-primary3,
.t-bg-secondary1,
.t-bg-secondary2 {
  color: var(--textLight);
}

.t-bg-primary {
  background-color: $primary1;
  background-color: var(--primary1);
}

.t-bg-primary2 {
  background-color: $primary2;
  background-color: var(--primary2);
}

.t-bg-primary3 {
  background-color: $primary3;
  background-color: var(--primary3);
}

.t-bg-primary1a {
  background-color: #33b8e6;
  background-color: var(--primary1a);
}

.t-bg-primary1b {
  background-color: #66caec;
  background-color: var(--primary1b);
}

.t-bg-primary1c {
  background-color: #99dbf3;
  background-color: var(--primary1c);
}

.t-bg-white {
  background-color: #fff;
}

.t-bg-secondary1 {
  background-color: $secondary1;
  background-color: var(--secondary1);
}

.t-bg-secondary2 {
  background-color: $secondary2;
  background-color: var(--secondary2);

  a {
    color: var(--primaryTTT);
  }
}

.t-bg-secondary3 {
  background-color: $secondary3;
  background-color: var(--secondary3);
}

.t-bg-supporting1 {
  background-color: $supporting1;
  background-color: var(--supporting1);
}

.t-bg-supporting2,
.t-bg-grey {
  background-color: $supporting2;
  background-color: var(--supporting2);
}

.t-bg-supporting3,
.i-quiz {
  background-color: #f3f3f3;
  background-color: var(--supporting3);
}

// .t-bg-white,
// .t-bg-primary1c,
// .t-bg-supporting1,
// .t-bg-supporting2 {
//   color: $secondary1;
// }

@media (prefers-color-scheme: dark) {
  // .t-bg-supporting1,
  // .t-bg-supporting2,
  // .t-bg-grey,
  // .t-bg-supporting3,
  // .i-quiz {
  //   color: hsl(0, 0%, 80%);
  // }

  main > section:not([class]) {
    // outline: dashed 1px yellow;
    outline-offset: -3px;
    background: var(--supporting3);
    color: var(--textToggle);
  }
}

.svg-highlight {
  fill: var(--highlight);
}
