:root {
  --flow: 1.5;
  --highlight: hsl(329, 100%, 42%);
  --primary-hue: 195;
  --lightness-mod: 0%;

  --primary1: hsl(var(--primary-hue), 100%, calc(44% - var(--lightness-mod)));
  --primary1a: hsl(var(--primary-hue), 78%, calc(55% - var(--lightness-mod)));
  --primary1b: hsl(var(--primary-hue), 78%, calc(66% - var(--lightness-mod)));
  --primary1c: hsl(var(--primary-hue), 78%, calc(78% - var(--lightness-mod)));
  --primary2: hsl(var(--primary-hue), 100%, calc(33% - var(--lightness-mod)));
  --primary3: hsl(var(--primary-hue), 100%, calc(22% - var(--lightness-mod)));

  --secondary1: hsl(var(--primary-hue), 8%, 16%);
  --secondary1blue: hsl(var(--primary-hue), 20%, 16%);
  --secondary2: hsl(var(--primary-hue), 7%, 31%);
  --secondary3: hsl(329, 100%, calc(42% - var(--lightness-mod))); //var(--highlight);//hsl(329, 100%, 42%);

  --supporting1: hsl(140, 8%, 69%);
  --supporting2: hsl(0, 0%, 90%);
  --supporting3: hsl(0, 0%, 95%);

  @media (prefers-color-scheme: dark) {
    --lightness-mod: 10%;
    --supporting1: hsl(140, 8%, 31%);
    --supporting2: hsl(0, 0%, 10%);
    --supporting3: hsl(0, 0%, 5%);

    .c-banner__img {
      filter: opacity(.5);
    }
  }
}


$flow: 1.5;
$highlight: #d6006d;

$primary1: hsl(195, 100%, 44%);
$primary2: hsl(195, 100%, 33%);
$primary3: hsl(195, 100%, 22%);

$secondary1: hsl(195, 8%, 16%);
$secondary2: hsl(195, 7%, 31%);
$secondary3: hsl(329, 100%, 42%);

$supporting1: hsl(140, 8%, 69%);
$supporting2: hsl(0, 0%, 90%);
$supporting3: hsl(0, 0%, 95%);
