---
unit: 1
session: 2
pagination:
  data: courses['employability-and-personal-development']['01-preparing-for-an-interview-and-applying-for-a-job']['02-applying-for-a-job']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }}  -->
