{%- import 'components/all.njk' as components %}

{%- if module.banner %}
  {%- set bannerImg = '/images/banners/' + module.shortcode + '/' + module.banner %}
{%- else %}
  {%- set bannerImg = '/images/banners/PLACEHOLDER.jpg' %}
{%- endif %}


{%- if module.session ==  1 %}
  {%- set sessionIs = "first" %}  
{%- elseif module.session ==  2 %}
  {%- set sessionIs = "second" %}  
{%- elseif module.session ==  3 %}
  {%- set sessionIs = "third" %}  
{%- elseif module.session ==  4 %}
  {%- set sessionIs = "fourth" %}  
{%- elseif module.session ==  5 %}
  {%- set sessionIs = "fifth" %}  
{%- elseif module.session ==  6 %}
  {%- set sessionIs = "sixth" %}  
{%- elseif module.session ==  7 %}
  {%- set sessionIs = "seventh" %}  
{%- elseif module.session ==  8 %}
  {%- set sessionIs = "eighth" %}  
{%- elseif module.session ==  9 %}
  {%- set sessionIs = "ninth" %}  
{%- elseif module.session ==  10 %}  
  {%- set sessionIs = "tenth" %}
{%- else %}
  {%- set sessionIs = "--- not defined ---" %}
{%- endif %}

{%- if pagination.lastPageHref == page.url %}
  {%- set lastPage = true %}
  {%- set bannerTitle = "What did you learn?" %}
  {%- set bannerText = "Well done, you’ve now completed the " + sessionIs + " session of this unit!" %}
{%- elseif pagination.pageNumber == 1 and module.session == 1 and module.unit == 1 %}
  {%- set bannerTitle = "Your learning goals" %}
{%- else %}
  {%- set bannerTitle = module.title | d("Page Title") %}
  {%- set bannerText = module.intro | d("Page intro...") %}
{%- endif %}

<section class="c-banner" data-session="{{ module.session }}">
  <div class="c-banner__text boxout">
    <h1>{{ bannerTitle }}</h1>
    {%- if pagination.pageNumber == 1 and module.session == 1 and module.unit == 1 %}
      <p>
        Work hard throughout your {{ module.course | formattitle }} course and be honest about the effort you put into each session.
      </p>

      <p>
        Focus on your learning goals and you may be surprised by how much you can achieve.
      </p>
    {%- else %}
      {{ bannerText | markdownify | safe }}
    {%- endif %}
  </div>
  
  {%- if bannerImg.endsWith(".svg") %}
    <img src="{{ '~' if site.env === 'dotnet' }}{{ bannerImg | d('banner.img') | lower }}" class="c-banner__img" alt="">
  {%- else %}
    {{ components.img(file=bannerImg, class="c-banner__img", env=site.env)}}
  {%- endif %}
</section>
