{% import 'components/all.njk' as components %}

{% if module.data.banner %}
  {%- set bannerImg = '/images/banners/' + module.data.banner -%}
{% else %}
  {%- set bannerImg = '/images/banners/PLACEHOLDER.jpg' -%}
{% endif %}


{%- if module.data.session ==  1 -%}
  {%- set sessionIs = "first" -%}  
{%- elseif module.data.session ==  2 -%}
  {%- set sessionIs = "second" -%}  
{%- elseif module.data.session ==  3 -%}
  {%- set sessionIs = "third" -%}  
{%- elseif module.data.session ==  4 -%}
  {%- set sessionIs = "fourth" -%}  
{%- elseif module.data.session ==  5 -%}
  {%- set sessionIs = "fifth" -%}  
{%- elseif module.data.session ==  6 -%}
  {%- set sessionIs = "sixth" -%}  
{%- elseif module.data.session ==  7 -%}
  {%- set sessionIs = "seventh" -%}  
{%- elseif module.data.session ==  8 -%}
  {%- set sessionIs = "eighth" -%}  
{%- elseif module.data.session ==  9 -%}
  {%- set sessionIs = "ninth" -%}  
{%- elseif module.data.session ==  10 -%}  
  {%- set sessionIs = "tenth" -%}
{%- else -%}
  {%- set sessionIs = "--- not defined ---" -%}
{% endif %}

{%- if pagination.lastPageHref == page.url -%}
  {%- set lastPage = true -%}
  {%- set bannerTitle = "What did you learn?" -%}
  {%- set bannerText = "Well done, you’ve now completed the " + sessionIs + " session of this unit!" -%}
{%- elseif pagination.pageNumber == 1 and module.data.session == 1 and module.data.unit == 1 -%}
  {%- set bannerTitle = "Your learning goals" -%}
{%- else -%}
  {%- set bannerTitle = module.data.title | d("Page Title") -%}
  {%- set bannerText = module.data.intro | d("Page intro...") -%}
{%- endif -%}

<section class="c-banner" data-session="{{ module.data.session }}">
  <div class="c-banner__text boxout">
    <h1>{{ bannerTitle }}</h1>
    {%- if pagination.pageNumber == 1 and module.data.session == 1 and module.data.unit == 1 -%}
      <p>
        Work hard throughout your {{ module.data.course | capitalize }} course and be honest about the effort you put into each Session.
      </p>

      <p>
        Focus on your learning goals and you may be surprised by how much you can achieve.
      </p>
    {%- else -%}
      {{ bannerText | markdownify | safe }}
    {%- endif -%}
  </div>
  
  {% if bannerImg.endsWith(".svg") %}
    <img src="{{ bannerImg | d('banner.img') }}" class="c-banner__img" alt="">
  {% else %}
    {{ components.img(file=bannerImg, class="c-banner__img")}}
  {% endif %}
</section>