{% set it2_123 = "Now that you have completed session 2, please move straight to session 3 as you will need to complete the learning in sessions 3, 4 and 5 before attempting parts 2, 3, 4, 5 and 6 of your assessment document. If you have not already done so, please [download and save the assessment file]("+ assLink +") in a suitable location on your computer." %}

{% set it2_134 = "Now that you have completed session 3, please move straight to session 4 as you will need to complete the learning in sessions 3, 4 and 5 before attempting parts 2, 3, 4, 5 and 6 of your assessment document. If you have not already done so, please [download and save the assessment file]("+ assLink +") in a suitable location on your computer." %}

{% set it2_145 = "Now that you have completed session 4, please move straight to session 5 as you will need to complete the learning in sessions 3, 4 and 5 before attempting parts 2, 3, 4, 5 and 6 of your assessment document. If you have not already done so, please [download and save the assessment file]("+ assLink +") in a suitable location on your computer." %}

{% set it2_155 = "Now that you have completed session 5, you should complete parts 2, 3, 4, 5 and 6 of the assessment document. If you have not already done so, please [download and save the assessment file]("+ assLink +") in a suitable location on your computer. Use your notes on the assessment so far, and the work you have done in your 'Time to practice' activities to assist you." %}

{% set it2_163 = "Now that you have completed session 6, you should complete part 7 of the assessment document. If you have not already done so, please [download and save the assessment file]("+ assLink +") in a suitable location on your computer. Use your notes on the assessment so far, and the work you have done in your 'Time to practice' activities to assist you." %}
