<section class="t-bg-primary">
  <div class="l-media l-media--half">
    <h2 class="l-media__title">Submitting Assessments</h2>
    <p class="l-media__body">
      Once you’ve completed all Assessment questions in a Unit, you will need to send your completed Assessment to your tutor. Watch this video to see how.
    </p>
    <video controls class="l-media__img">
        <source src="/videos/Submitting_Assessment_Recording.mp4"
                type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
    </video>
  </div>
</section>