<section class="t-bg-primary">
  <div class="l-media l-media--half">
    <h2 class="l-media__title">Time to Think</h2>
    <p class="l-media__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi odio, quia recusandae quaerat ex optio. Nulla accusamus dicta sunt sed, quis excepturi ut facilis. Tempora molestias atque et provident voluptatibus.
    </p>
    <video controls class="l-media__img">
        <source src="/videos/time-to-think.mp4"
                type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
    </video>
  </div>
</section>