.vscode/
node_modules
_site
dist
*.log
src/site/_data/debug.js
src/site/debug.liquid
.DS_Store
src/site/raw-content
src/site/server.crt
src/site/server.key
tmp/

# Local Netlify folder
.netlify

# BackstopJS
backstop_data/html_report/
bitmaps_test/
*.tar
