<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  {% block header %}
    {# {% import 'njk/course-vars.njk' as sessionData %} #}
    {% include 'njk/header.njk' %}  
  {% endblock header %}

{% for section in sections %}
  <section id="{{ section }}">
    <h2>{{ section | upper }}</h2>
  {% block section %}
    <p>{{ section }}</p>
  {% endblock section %}
  </section>
{% endfor %}

</body>
</html>


{# {% include 'course-vars.liquid' %}

{% include 'header' %}

<main id="main">
  
  {% include 'banner' %}
  
  {%- if pagination.pageNumber == 0 and module.data.session == 1 -%}
    {%- include 'unit-overview-tabs' -%}
  {%- endif -%}
  
  {{ module.templateContent }}

  {%- if pagination.pageNumber == 0 and module.data.session == 1 -%}
    {% include "submitting-assessments" %}
  {%- endif -%}

</main>

<aside hidden>
  {% include 'using-the-site' %}
  {% include 'course-nav' %}
</aside> #}

{# <footer>
  <small>
    &copy; Copyright Creating Careers Limited, 2019. All rights reserved. 
  </small>
</footer> #}