---
layout: layouts/default
permalink: courses/{{ module.data.course | slug }}/unit-{{ module.data.unit}}/session-{{ module.data.session }}/{{ pagination.pageNumber }}/index.html
---


{% include 'header.njk' %}
{% import 'components/all.njk' as components %}

<main id="main">
  
  {% include 'banner.njk' %}
  
  {%- if pagination.pageNumber == 0 and module.data.session == 1 -%}
    {%- include 'components/unit-overview-tabs.njk' -%}
  {%- endif -%}
  
  <!-- module.templateContent --> 
  {{ module.templateContent }}
  <!-- Content -->
  {{ content | safe }}

  {%- if pagination.pageNumber == 0 and module.data.session == 1 -%}
    <section>
      <h2>Course features</h2>
      {% include "course-features.liquid" %}
    </section>
    {% include "submitting-assessments.njk" %}
  {%- endif -%}

</main>

{# 
<aside hidden>
  {% include 'using-the-site.liquid' %}
  {% include 'course-nav.liquid' %}
</aside> 
#}

{# {% include 'pagination.liquid', class: "t-bg-secondary1" %} #}
{{ components.pagination(class='t-bg-secondary1', pagination=pagination) }}
<footer>
  <small>
    &copy; Copyright Creating Careers Limited, 2019. All rights reserved. 
  </small>
</footer>