---
layout: layouts/course2
---

{% set lastPage = (pagination.pageNumber == pagination.hrefs.length - 1) %}

{# TODO: Logic for section 1 only #}
{% if pagination.pageNumber == 990 %}
  <p>Page 1</p>
{% elseif pagination.pageNumber == 1 and module.data.session == 1 and module.data.unit == 1 %}
  <section>      
    <h2>Your learning goals</h2>
    
    <p>
      By working through this Session, you will cover the following criteria of your Level 2 Certificate in {{ module.data.course | title }} qualification:
    </p>
    
    <h3>The learner will:</h3>
    <ol>
      {% for goal in allcourses[module.data.course].goals.will %}
        <li>{{ goal }}</li>
      {% endfor %}
    </ol>

    <h3>The learner can:</h3>
    <ol>
      {% for goal in allcourses[module.data.course].goals.can %}
        <li>{{ goal }}</li>
      {% endfor %}
    </ol>


  </section>
  <section class="t-bg-primary">      
    <h2>Why study {{ module.data.course | title }}?</h2>
    {{ allcourses[module.data.course].why | markdownify | safe }}
  </section>
  <section id="goal-setting" class="t-bg-supporting2">      
    <h2>Goal Setting</h2>    
    <p>
      It is important to set yourself achievable targets and specific deadlines. These will keep you focused and increase your chance of overall success. Writing down your goals often gives you greater motivation to achieve them.
    </p>
    
    <h3>Your motivation map</h3>
    <p>
      A Motivation Map has three parts. <a href="/documents/motivation-map-blank.doc">Download your own motivation map</a> and work your way through the steps below.
    </p>      
</section>

<section class="t-bg-primary">      
  <h2>You're Now Ready To Start Your Course. Good Luck!</h2>
</section>
{% else %}
  {% for section in module.data.sections %}
    {% block section %}
      <section id="{{ section.title | replace(' ', '-') | lower }}" {% if section.theme %}class="{{ section.theme }}"
      {% endif %}>

      {% if section.include %}
        {% set inc = section.include.type | lower %}
        {% include 'components/' + inc + '.njk' ignore missing %}
      {% elseif section.layout == "media" or section.layout == "media-rev" %}
        {% include 'components/media.njk' ignore missing %}

        {# {% if section.activity %}
          <iframe class="c-activity" id="{{ section.activity }}" src="/captivate/{{ module.data.course | replace(' ', '-') }}/{{ section.activity }}/">
        {% endif %} #}
      {% else %}
        <h2>{{ section.title | title }}</h2>
        
        {% if section.copy %}
          {{ section.copy | markdownify | safe }}
        {% endif %}

        {% if section.subInc %}
          {# Is this a basic or more complex include type? #}
          {% set inc = section.subInc %}

          {% if section.subInc.type %}
            {% set inc = section.subInc.type %}
          {% endif %}

          {% include 'components/' + inc + '.njk' ignore missing %}
        {% endif %}

        {% if section.copy2 %}
          {{ section.copy2 | markdownify | safe }}
        {% endif %}

      {% endif %}
      </section>
    {% endblock section %}
  {% endfor %}
{% endif %}
