---
layout: layouts/default
permalink: courses/{{ module.data.course | slug }}/unit-{{ module.data.unit}}/session-{{ module.data.session }}/{{ pagination.pageNumber }}/index.html
---


{% include 'header.njk' %}
{% import 'components/all.njk' as components %}

<main id="main" data-v2l-tags="{{ tags }}" data-v2l-course="{{ module.data.course }}" data-v2l-level="{{ module.data.level }}" data-v2l-unit="{{ module.data.unit }}" data-v2l-session="{{ module.data.session }}" data-v2l-page="{{ pagination.pageNumber }}">
  
  {% include 'banner.njk' %} 
  {# {{ components.banner(title=module.data.title, copy=module.data.intro, image=module.data.banner, unit=module.data.unit, session=module.data.session, pageNo=pagination.pageNumber, lastpage=lastPage, sessionMap=site.sessionMap) }} #}
  
  {%- if pagination.pageNumber == 0 and module.data.session == 1 -%}
    {%- include 'components/unit-overview-tabs.njk' -%}
  {%- endif -%}
  
  <!-- module.templateContent --> 
  {# {{ module.templateContent }} #}
  <!-- Content -->
  {{ content | safe }}

  {%- if pagination.pageNumber == 0 and module.data.session == 1 -%}
    <section>
      <h2>Course features</h2>
      {% include "course-features.njk" %}
    </section>
    {% include "submitting-assessments.njk" %}
    {% include "time-to-think-video.njk" %}
  {%- endif -%}

</main>

{# 
<aside hidden>
  {% include 'using-the-site.liquid' %}
  {% include 'course-nav.liquid' %}
</aside> 
#}

{# {% include 'pagination.liquid', class: "t-bg-secondary1" %} #}
{{ components.pagination(class='t-bg-secondary1 boxout-small', pagination=pagination, page=page) }}
<footer>
  <small>
    &copy; Copyright Creating Careers Limited, 2019. All rights reserved. 
  </small>
</footer>