---
layout: layouts/course2
---

{% set lastPage = (pagination.pageNumber == pagination.hrefs.length - 1) %}

{# TODO: Logic for section 1 only #}
{% if pagination.pageNumber == 990 %}
  <p>Page 1</p>
{% elseif pagination.pageNumber == 991 %}
  <p>Page 2</p>
{% else %}
  {% for section in module.data.sections %}
    {% block section %}
      <section id="{{ section.title | replace(' ', '-') | lower }}" {% if section.theme %}class="{{ section.theme }}"
      {% endif %}>

      {% if section.include %}
        {% include 'components/' + section.include.type + '.njk' ignore missing %}
      {% elseif section.layout == "media" or section.layout == "media-rev" %}
        {% include 'components/media.njk' ignore missing %}
      {% else %}
        <h2>{{ section.title | title }}</h2>
        
        {% if section.copy %}
          {{ section.copy | markdownify | safe }}
        {% endif %}

        {% if section.subInc %}
          {# Is this a basic or more complex include type? #}
          {% set inc = section.subInc %}

          {% if section.subInc.type %}
            {% set inc = section.subInc.type %}
          {% endif %}

          {% include 'components/' + inc + '.njk' ignore missing %}
        {% endif %}

        {% if section.copy2 %}
          {{ section.copy2 | markdownify | safe }}
        {% endif %}

      {% endif %}
      </section>
    {% endblock section %}
  {% endfor %}
{% endif %}
