---
layout: layouts/default
permalink: courses/{{ module.data.course | slug }}/unit-{{ module.data.unit}}/session-{{ module.data.session }}/{{ pagination.pageNumber + 1}}/index.html
---


{% include 'header.njk' %}
{% import 'components/all.njk' as components %}

<main id="main" data-v2l-tags="{{ tags }}" data-v2l-course="{{ module.data.course }}" data-v2l-level="{{ module.data.level }}" data-v2l-unit="{{ module.data.unit }}" data-v2l-session="{{ module.data.session }}" data-v2l-page="{{ pagination.pageNumber }}">

  {% include 'banner.njk' %} 
  {# {{ components.banner(title=module.data.title, copy=module.data.intro, image=module.data.banner, unit=module.data.unit, session=module.data.session, pageNo=pagination.pageNumber, lastpage=lastPage, sessionMap=site.sessionMap) }} #}
  
  {%- if pagination.pageNumber == 0 and module.data.session == 1 -%}
    {%- include 'components/unit-overview-tabs.njk' -%}
  {%- endif -%}
  
  {{ content | safe }}

  {%- if pagination.pageNumber == 0 and module.data.session == 1 -%}
    <section>
      <h2>Course features</h2>
      {% include "course-features.njk" %}
    </section>
    <section class="t-bg-primary">
      {{ components.media(
          title="Submitting Assessments",
          copy="Once you’ve completed all Assessment questions in a Unit, you will need to send your completed Assessment to your tutor. Watch this video to see how.",
          layout="media-half",
          video="Submitting_Assessment_Recording.mp4"
      ) }}
    </section>
    <section class="t-bg-primary">
      {{ components.media(
          title="Time to Think",
          copy="Lorem ipsum dolor sit amet consectetur adipisicing elit.",
          layout="media-half",
          video="time-to-think.mp4"
      ) }}
    </section>
  {%- endif -%}

</main>

{{ components.pagination(class='t-bg-secondary1 boxout-small', pagination=pagination, page=page) }}
<footer>
  <small>
    &copy; Copyright Creating Careers Limited, 2019. All rights reserved. 
  </small>
</footer>