---js
{
  unit: 1,
  session: 3,
  pagination: {
    data: "courses['cyber-security-level-3']['01-understand-cyber-security-principles']['03-understand-security-by-design-principles']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
