---js
{
  unit: 2,
  session: 3,
  pagination: {
    data: "courses['cyber-security-level-3']['02-understand-cyber-threat-intelligence']['03-malicious-software']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
