---js
{
  unit: 5,
  session: 1,
  pagination: {
    data: "courses['cyber-security-level-3']['05-understand-legislation-and-ethical-conduct-within-cyber-security']['01-understand-legislation-relating-to-cyber-security']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
