{%- import "components/all.njk" as components -%}

{% if compData -%}
  {% set accData = compData.subInc.content -%}
{% else %}
  {% set accData = section.subInc.content -%}
{% endif -%}

<div class="toggle-group">
{%- for reveal in accData %}
  {{ components.accordion(reveal, site.env) }}
{%- endfor %}
</div>
