{#
  Reusable code components in this file:

  1. Pagination 
  2. Responsive Images
  3. Unit Overview Buttons
  4. Quick Quiz
  5. Accordion
  6. Banner
  7. Section
  8. Media Object
  9. Slider
  10. Reveal
#}

{# --- 1. Pagination--- #}

{% set environ = site.env %}

{%- macro pagination(class, pagination, page) %}
  <nav class="{{ class if class }}">
    <ol aria-label="Pages in this session" role="list" class="c-pagination">
      {%- if pagination.previousPageHref %}
        <li class="c-pagination__prev" role="listitem">
          <a href="{{ pagination.previousPageHref }}">
            <i class="visually-hidden">Previous Page</i>
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="28"><path d="M18.297 4.703L10 13l8.297 8.297a.99.99 0 0 1 0 1.406l-2.594 2.594a.99.99 0 0 1-1.406 0L2.703 13.703a.99.99 0 0 1 0-1.406L14.297.703a.99.99 0 0 1 1.406 0l2.594 2.594a.99.99 0 0 1 0 1.406z"/></svg>
          </a>  
        </li>
      {%- endif %}

      {# <!-- TODO: Re-order visually with CSS --> #}
      {%- if pagination.nextPageHref %}
        <li class="c-pagination__next" role="listitem">
          <a href="{{ pagination.nextPageHref }}">
            <i class="visually-hidden">Next Page</i>
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="28"><path d="M17.297 13.703L5.703 25.297a.99.99 0 0 1-1.406 0l-2.594-2.594a.99.99 0 0 1 0-1.406L10 13 1.703 4.703a.99.99 0 0 1 0-1.406L4.297.703a.99.99 0 0 1 1.406 0l11.594 11.594a.99.99 0 0 1 0 1.406z"/></svg>
          </a>
        </li>
      {%- endif %}

      {%- for href in pagination.hrefs %}
        {# <!-- TODO: Review component with VoiceOver --> #}
        <li role="listitem">
          <a href="{{ href }}" {% if page.url == href %} aria-current="page"{% endif %}>{{ loop.index }}</a>
        </li>
      {%- endfor %}
    </ol>
  </nav>

{%- endmacro %}

{# --- 2. Responsive Images--- #}

{%- macro img(file, class, alt, type, env) %}
  {# These widths mirror those set in the images.js gulp task #}
  {%- set widths = [400, 600, 800, 1000, 2000] %}
  
  {# Set basepath to image folder #}
  {# TODO: Alter value based on type var #}
  {# {%- set basepath = "/images/" %} #}

  {# split name and extension from filename #}
  {%- set basefile = file.split('.') %}

  {# Use the file name and widths to build up the srcset attribute #}
  {%- set srcset %}
    {%- set comma = joiner() %}
    {%- for width in widths %}
      {{ comma() }} {{ '~' if env === 'dotnet' }}{{ basefile[0] + "-" + width + "." + basefile[1] | lower }} {{ width + "w"}}
    {%- endfor %}
  {%- endset %}

    <img
      {%- if class %} class="{{ class }}" {%- endif %}
      src='{{ "~" if env === "dotnet" }}{{ basefile[0] + "-" + widths[1] + "." + basefile[1] }}'
      srcset="{{ srcset | trim }}"
      sizes="100vw"
      alt='{{ alt }}'>
{%- endmacro %}

{# --- 3. Unit Overview Buttons--- #}
{%- macro unitOverviewBtn(num) %}
<a class="c-unit-btn" href="#section{{ num }}">
  <span>
    {{ num }}
  </span>
</a>
{%- endmacro %}

{# --- 4. Quick Quiz --- #}

{%- macro quizQuestion(type, qNumber, aNumber, answer, trueOrFalse) %}
  <input autocomplete="off" type="{{ type | d('radio') }}" name="qq-{{ qNumber }}" id="q{{ qNumber }}-a{{ aNumber }}" value="{{ answer | lower | replace(' ', '_')}}">
  <label for="q{{ qNumber }}-a{{ aNumber }}" data-v2l-correct="{{ trueOrFalse }}" >
    {%- if answer == "true" or answer == "false" %}
      {{ answer | capitalize }}
    {%- else %}
      {{ answer }}
    {%- endif %}
    
  </label>
{%- endmacro %}

{# 
--- 5. Accordion --- 

Taken from: https://inclusive-components.design/collapsible-sections/

#}

{%- macro accordion(data, env) %}

<toggle-section open="false">
  {%- if data.img %}
    {{ media2({
      title: data.title,
      copy: data.copy,
      media: {
        ref: data.img
      }
    }, env) }}
  {%- else %}
    <h3>{{ data.title }}</h3>
    {{ data.copy | markdownify | safe }}
  {%- endif %}
</toggle-section>
{%- endmacro %}

{# --- 6. Banner --- #}

{%- macro banner(title="Banner title", copy="Banner copy", image="PLACEHOLDER.jpg", unit=1, session=1, pageNo=1, lastpage=false, sessionMap) %}
  {%- from "components/all.njk" import img as srcset %}

  {%- set bannerTitle = title %}
  {%- set bannerText = copy %}
  {%- set banner = "/images/banners/" + image %}

  {%- set sessionIs = sessionMap[session - 1] %}
  
  {%- if lastpage %}
    {%- set bannerTitle = "What did you learn?" %}
    {%- set bannerText = "Well done, you’ve now completed the " + sessionIs + " session of this unit!\n\n" + copy %}
  {%- elseif pageNo == 1 and session == 1 and unit == 1 %}
    {%- set bannerTitle = "Your learning goals" %}
    {%- set bannerText = "Work hard throughout your " + module.data.course  + " course and be honest about the effort you put into each Session.\n\nFocus on your learning goals and you may be surprised by how much you can achieve." %}
  {%- endif %}

  <section class="c-banner" data-session="{{ session }}">
    <div class="c-banner__text boxout">
      <h1>{{ title }}</h1>
      {{ bannerText | markdownify | safe }}
    </div>
    {%- if banner.endsWith('.svg') %}
      <img src="{{ '~' if module.data.buildenv === 'dotnet' }}{{ banner | lower }}" class="c-banner__img" alt="">
    {%- else %}
      {{ srcset(file=banner, class="c-banner__img")}}
    {%- endif %}
  </section>

{%- endmacro %}

{# 7. Section
  
  Arguments:
    section (object) - found in individual page front matter or from predefined in _data/sections.json...

#}

{%- macro section(section) %}

  <section id="{{ section.title | replace(' ', '-') | lower }}" {%- if section.theme %}class="{{ section.theme }}"{%- endif %}>
    {%- if section.layout %}
      {{ media(title=section.title, copy=section.copy, img=section.img, video=section.video, activity=section.activty, think=section.think, layout=section.layout) }}
    {%- else %}
      <h2>{{ section.title }}</h2>

      {%- if section.copy %}
          {{ section.copy | markdownify | safe }}
        {%- endif %}
        
        {%- if section.subInc %}
          {# Is this a basic or more complex include type? #}
          {# {%- set inc = section.subInc %} #}

          {%- set inc = section.subInc.type %}
          
          {%- include 'components/' + inc + '.njk' %}

        {%- endif %}

        {%- if section.copy2 %}
          {{ section.copy2 | markdownify | safe }}
        {%- endif %}

    {%- endif %}
    
  </section>

{%- endmacro %}

{# 
--- 8. Media object --- 

  params:
    data: {
      title (o): String, 
      copy (r): String/markdown,
      layout (o): String: "media-rev" || "media-half"
      media (r): {
        ref (r): String: path/to/file
        link (o): href to link out to, images only
      }
    }
    env: build environment from module.data pagination object

#}

{%- macro media2(data, buildenv) %}
  {# Remove leading slash from object path if there is one #}
  
  {%- if data.title === "Forum" -%}
    {%- set link = '/student-dotnet/group-forum.aspx' -%}
  {%- elseif data.media.link -%}
    {%- set link = data.media.link -%}
  {%- endif -%}

  {%- set  mediaObj = "" + data.media.ref | safe | striptags() %}
  {%- if mediaObj | first === "/"  %}
    {%- set  mediaObj = mediaObj | replace("/","",1) | replace("images/svg/", "", 1) %}
  {%- endif %}

  {# Detect media type, img/video etc #}
  {%- if (mediaObj.toString().endsWith('svg')) or (mediaObj.toString().endsWith('png')) or (mediaObj.toString().endsWith('jpg')) or (mediaObj.toString().endsWith('jpeg')) %}
    {%- set mediaType = "image" %}
  {%- elseif mediaObj.toString().endsWith('mp4') %}
    {%- set mediaType = "video" %}
  {%- elseif mediaObj === "think" %}
    {%- set mediaType = "think" %}
  {%- else %}
    {%- set mediaError = "Unrecongnised media type passed to media() in all.njk" %}
  {%- endif %}

  <div class="l-media {%- if data.layout == 'media-rev' %} l-media--rev {%- elseif data.layout == 'media-half' %} l-media--half {%- endif %} {{ 'l-media--video' if mediaType === 'video' }} {{ 'l-media--max' if mediaType === 'think' }}">
    {%- if data.title %}
      {# TODO: dynamic heading level #}
      <h2 class="l-media__title">
        {{ data.title }}
      </h2>
    {%- endif %}

    <div class="l-media__body {{ 'l-media__body--full' if not data.title }}">
      {{ data.copy | markdownify | safe }}
    </div>

    {%- if mediaType === "image" %}
      {%- if link %}
        <a href="{{ link }}" class="l-media__img">
          <img src="{{ '~' if buildenv === 'dotnet' }}/images/svg/{{ mediaObj | lower }}" alt="{{ mediaError }}">
        </a>
      {% else %}
        <img class="l-media__img" src="{{ '~' if buildenv === 'dotnet' }}/images/svg/{{ mediaObj | lower }}" alt="{{ mediaError }}">
      {%- endif %}
    {%- elseif mediaType === "video" %}
      <video controls preload="metadata" poster="{{ '~' if buildenv === 'dotnet' }}/images/svg/course-features/watch.svg" class="l-media__img">
          <source src="{{ '~' if buildenv === 'dotnet' }}/videos/{{ mediaObj | lower }}"
                  type="video/mp4">
          Sorry, your browser doesn't support embedded videos.
      </video>
    {%- elseif mediaType === "think" %}
      {%- if buildenv === 'dev'%}
        <form class="l-media__img l-think">
          <textarea class="js-think" rows="15"></textarea>
          <button>Save</button>
        </form>
      {%- else %}
        @Html.Partial("_JournalAddEntry", new JournalData((int)@ViewBag.CurrentUnit,
                (int)@ViewBag.CurrentSession, (int)@ViewBag.CurrentPage, @ViewBag.CurrentSessionTitle,
                "{{ data.copy | striptags(false)}}",
                formClassAttribute: "l-media__img l-think"))
      {%- endif %}
    {%- else %}
      <p>{{ mediaError + ": " + mediaObj }}</p>
    {%- endif %}  
  </div>
{%- endmacro %}

{%- macro media(title, copy, img, link, layout, think, video) %}
  
  <div class="l-media {%- if layout == 'media-rev' %} l-media--rev {%- elseif layout == 'media-half' %} l-media--half {%- endif %}">
    <h2 class="l-media__title">
      {%- if title %}
        {{ title | title }}
      {%- endif %}
    </h2>

    <div class="l-media__body">
      {{ copy | markdownify | safe }}
    </div>
    {%- if activity %}
      <a href="/captivate/{{ module.data.course | replace(' ', '-') }}/{{ activity }}/" class="l-media__img">
        <img src="{{ '~' if module.data.buildenv === 'dotnet' }}/images/svg/activity_button.svg" alt="Open activity">
      </a>
    {%- else %}
      {%- if img and (not link) %}
        <img class="l-media__img" src="{{ '~' if module.data.buildenv === 'dotnet' }}{{ img | lower }}" alt="xxxxx">
      {%- elseif img and link %}
        <a href="{{ link }}" class="l-media__img">
          <img  src="{{ '~' if module.data.buildenv === 'dotnet' }}{{ img | lower }}" alt="">
        </a>
      {%- elseif video %}
        <video controls class="l-media__img" {{ module.data.buildenv }}>
            <source src="{{ '~' if module.data.buildenv === 'dotnet' }}/videos/{{ video }}"
                    type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
        </video>
      {%- elseif think %}
        <form class="l-media__img l-think">
          <textarea>
          </textarea>
          <button>Save</button>
        </form>
      {%- endif %}
    {%- endif %}
  </div>
{%- endmacro %}

{# --- 9. Slider --- #}
{%- macro slideItem(slidedata, buildenv) %}
  {# TODO: Support other media types for slider #}
    {%- if slidedata.heading -%}
      {%- set title = slidedata.heading | safe | striptags() -%}
    {%- elseif slidedata.title -%}
      {%- set title = slidedata.title | safe | striptags() -%}
    {%- else -%}
      {%- set title = "" -%}
    {%- endif -%}

    {%- if slidedata.img or slidedata.media %}
      {{ media2({
            title: title,
            copy: slidedata.text,
            media: {
              ref: slidedata.img
            }
          },
          buildenv
        ) }}
    {%- else %}
     <div>
        {%- if slidedata.heading %}
          <h3>{{ slidedata.heading | safe }}</h3>
        {%- endif %}
        {{ slidedata.text | markdownify | safe }}
      </div> 
    {%- endif %}
    
    {# <span aria-hidden="true" class="c-slider__count" data-v2l-count="{{ slideData.length }}"></span> #}
{%- endmacro %}

{# 10. Reveal (show/hide) #}

{%- macro reveal(data, env) %}
  <li class="c-reveal-block">
    <img class="c-reveal-block__icon js-showhide" src="{{ '~' if env === 'dotnet' }}/images/svg/{{ data.image | lower }}" alt="{{ data.heading | d('Panel heading') }}">
    
    <div class="c-reveal-block__desc">
      <h3 aria-hidden="true">{{ data.heading | capitalize | d('Panel heading')}}</h3>
      {{ data.copy | markdownify | safe | d('Panel copy')}}
    </div>
  </li>
{%- endmacro %}