{% if section.interactive.composition %}
{# style="height:{{ section.interactive.height }}px;" #}
<div class="c-interactive" data-v2l-comp="{{ section.interactive.composition }}" data-v2l-interactive="{{ section.interactive.file }}" data-v2l-id="animation_container">
  <button data-v2l-loadbtn hidden>Begin Activity</button>
  {%- if section.interactive.alt %}
    <div data-v2l-canvas-alt>
    {{ section.interactive.alt | markdownify | safe }}
    </div>
  {% endif -%}
</div>
{% endif %}
