<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
{% include 'interactive/' + section.interactive +'' ignore missing %}
<!-- {{ section.interactive }} -->
<div id="animation_container" style="background-color:rgba(255, 255, 255, 1.00); width:798px; height:477px">
  <canvas id="canvas" width="798" height="477" style="position: absolute; display: block; background-color:rgba(255, 255, 255, 1.00);"></canvas>
  <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:798px; height:477px; position: absolute; left: 0px; top: 0px; display: block;">
  </div>
</div>