{% if section.interactive.composition %}
{# Don't render canvas unless interactive is fully implemented #}
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script>
{%- include 'interactive/' + section.interactive.file +'.js' ignore missing %}
{% include 'init.js' %}
</script>
<div data-v2l-comp="{{ section.interactive.composition }}" data-v2l-id="animation_container" style="background-color: inherit; max-width: calc({{ section.interactive.width }}px - 2rem); height:{{ section.interactive.height }}px">
  <canvas data-v2l-id="canvas" class="c-interactive" width="100%" height="{{ section.interactive.height }}" style="position: absolute; display: block; background-color:inherit; max-width: calc({{ section.interactive.width }}px - 2rem)"></canvas>
  <div data-v2l-id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:{{ section.interactive.width }}px; height:{{ section.interactive.height }}px; position: absolute; left: 0px; top: 0px; display: block;">
  </div>
</div>
{% endif %}
