{%- from 'components/all.njk' import img as img  -%}

{% if module.banner == 'placeholder.jpg' %}
  {%- set bannerImg = '/images/banners/placeholder.jpg'  -%}
{%- elseif module.banner  -%}
  {%- set bannerImg = '/images/banners/' + shortcode + '/' + module.banner  -%}
{%- else -%}
  {%- set bannerImg = '/images/banners/placeholder.jpg'  -%}
{%- endif -%}

{%- set sessionIs = session | sessionOrdinal -%}  

{# 
  1. Text on final page of session is set here, not in YAML 
  2. Unit 1, Session 1, Page 2 text is set here, not in YAML
  3. Else, take text from YAML
#}
{%- if pagination.lastPageHref == page.url -%}
  {%- set lastPage = true -%}
  {%- set bannerTitle = "What did you learn?" -%}
  {%- set bannerText = "Well done, you’ve now completed the " + sessionIs + " session of this unit!" -%}
{%- elseif pagination.pageNumber == 1 and session == 1 and unit == 1 -%}
  {%- set bannerTitle = "Your learning goals" -%}
{%- else -%}
  {%- set bannerTitle = module.title | d(compData.title) -%}
  {%- set bannerText = module.intro | d(compData.intro) -%}
{%- endif -%}

<section class="c-banner" data-session="{{ session }}">
  <div class="c-banner__text boxout">
    <h1>{{ bannerTitle }}</h1>
    {%- if pagination.pageNumber == 1 and session == 1 and unit == 1 %}
      <p>
        Work hard throughout your {{ course | replace('-', ' ') | formattitle }} course and be honest about the effort you put into each session.
      </p>

      <p>
        Focus on your learning goals and you may be surprised by how much you can achieve.
      </p>
    {%- else %}
      {{ bannerText | markdownify | safe }}
    {%- endif %}
  </div>
  
  {%- if bannerImg.endsWith(".svg") -%}
    <img src="{{ '~' if site.env === 'dotnet' }}{{ bannerImg | d('banner.img') | lower }}" class="c-banner__img" alt="" aria-hidden="true">
  {%- else -%}
    {# Call the image function from .eleventy.js #}
    {% image bannerImg, "c-banner__img", "", "100vw" %}
  {%- endif %}
</section>
