<ul class="l-icon-grid">
{%- for feature in defaultdata.courseFeatures -%}
{%- set iconpath = 'course-features/' + feature.icon -%}
<li class="c-reveal-block">
  {# {% comment %} TODO: Fix SVG colour issues {% include 'icon', icon: iconpath %} {% endcomment %} #}
  <img class="c-reveal-block__icon js-showhide" src="/images/svg/{{ iconpath + '.svg' }}" alt="{{ feature.title }}">
  <div class="c-reveal-block__desc">
    <h3 aria-hidden="true">{{ feature.title | capitalize }}</h3>
    <p>{{ feature.desc }}</p>
  </div>
</li>
{%- endfor -%}