
<div class="l-media {%- if section.layout == 'media-rev' %} l-media--rev {%- elseif section.layout == 'media-half' %} l-media--half {%- endif %}">
  <h2 class="l-media__title">{{ section.title }}</h2>
  <!-- MEDIA -->
  <div class="l-media__body">
    {{ section.copy | markdownify | safe }}
  </div>
  {%- if section.activity %}
    <a href="/captivate/{{ module.data.course | replace(' ', '-') }}/{{ section.activity }}/" class="l-media__img">
      <img src="{{ '~' if site.env === 'dotnet' }}{{ section.img | lower }}" alt="">
    </a>
  {%- else %}
    {%- if section.img %}
      <img class="l-media__img" src="{{ '~' if site.env === 'dotnet' }}{{ section.img | lower }}" alt="">
    {%- elseif section.video %}
      <video controls class="l-media__img">
          <source src="{{ '~' if site.env === 'dotnet' }}/videos/{{ section.video }}"
                  type="video/mp4">
          Sorry, your browser doesn't support embedded videos.
      </video>
    {%- endif %}
  {%- endif %}
  
</div>