<h2>On the web</h2>
<p>
  {{ section.include.copy | d("The following website(s) are all useful sources of information:") | markdownify | safe }}
</p>

<ul>
  {%- for text, link in section.include.links %}
    <li><a href="{{ link }}">{{ text }}</a></li>
  {%- endfor %}
</ul>