{% import 'components/all.njk' as components %}

{% if section.include %}
  {%- set quiz = section.include.content -%}
  {%- set mode = section.include.mode -%}
{% elseif section.subInc %}
  {%- set quiz = section.subInc.content -%}
  {%- set mode = section.subInc.mode -%}
{% else %}
  {%- set quiz = defaultdata.wordQuiz.sentences -%}
{% endif %}

{% if mode == "multi-choice" %}
  {% set qType = "checkbox" %}
{% endif %}


<form action="#q-loop.index" class="c-quiz c-quiz--quick l-quiz" id="q-loop.index">
  {%- for question, answers in quiz -%}
    {%- set topIndex = loop.index -%}
      <fieldset class="l-quiz">
        <legend class="c-quiz__legend l-vc">{{ question }}</legend>
        
        {%- for response, result in answers.answers -%}
          <div class="c-quiz__answer l-vc">
            {{ components.quizQuestion(type=qType, qNumber=topIndex, aNumber=loop.index, answer=response, trueOrFalse=result) }}
            {# <input type="radio" class="c-quiz__control" name="qq-{{ topIndex }}" id="q{{ topIndex }}-a{{ loop.index }}">
            <label for="q{{ topIndex }}-a{{ loop.index }}" data-v2l-correct="{{ result }}"> 
              {{ response }}
            </label> #}
          </div>
        {%- endfor -%}

      </fieldset>
      <input type="submit" value="Show question feedback" hidden>
      <p class="c-quiz__fb" hidden>
        {{ answers.feedback }}
      </p>
  {%- endfor -%}
</form>