{%- import 'components/all.njk' as components %}

{% if compData %}
  {%- set quiz = compData.content %}
  {%- set mode = compData.mode %}
{% else %}
  {%- if section.include %}
    {%- set quiz = section.include.content %}
    {%- set mode = section.include.mode %}
  {%- elseif section.subInc %}
    {%- set quiz = section.subInc.content %}
    {%- set mode = section.subInc.mode %}
  {%- else %}
    {%- set quiz = defaultdata.wordQuiz.sentences %}
  {%- endif %}
{% endif %}

{%- if mode == "multi-choice" %}
  {%- set qType = "checkbox" %}
{%- endif %}

<form class="c-quiz l-quiz" autocomplete="off" {{ 'data-v2l-mcquiz=true' if mode }}>
  {%- for question, answers in quiz %}
    {%- set topIndex = loop.index %}
      <fieldset class="l-quiz">
        <legend data-v2l-qnum="Question {{ loop.index }}">{{ question }}</legend>
        
        {%- for response, result in answers.answers %}
          <div class="c-quiz__answer">
            {{ components.quizQuestion(type=qType, qNumber=topIndex, aNumber=loop.index, answer=response, trueOrFalse=result) }}
          </div>
        {%- endfor %}
      
      {%- if answers.feedback %}
        {% set feedback = answers.feedback %}
        {{ components.accordion({
            title: "Question " + loop.index + " feedback", 
            copy: feedback, 
            class: "c-quiz__fb"
          },
          site.env
        )}}        
      {%- endif %}

      </fieldset>
  {%- endfor %}
</form>
