{%- from "components/all.njk" import reveal as reveal %}

{% set subpath = "" %}

{% if section.subInc.content %}
  {% set revealdata = section.subInc.content %}
{% else %}
  {% set revealdata = defaultdata.courseFeatures %}
  {% set subpath = "course-features/" %}
{% endif %}

<ul class="l-icon-grid {%- if section.subInc.layout %}l-icon-grid--{{ section.subInc.layout }}{%- endif %}">
{%- for revealItem in revealdata %}
  {{ reveal({
      heading: revealItem.title, 
      copy: revealItem.copy, 
      image: subpath + revealItem.img
    }, site.env) }}
{%- endfor %}
</ul>