{% for reveal in section.subInc.content %}
  <details class="c-reveal boxout-medium">
    <summary>
      <h3>{{ reveal.title | d("Title " + loop.index) }}</h3>
    </summary>
    {{ reveal.copy | markdownify | safe }}
  </details>
{% endfor %}