{% macro reveal(heading='reveal title', copy='reveal copy', image) %}
  <li class="c-reveal-block">
    <img class="c-reveal-block__icon js-showhide" src="/images/svg/{{ image }}" alt="">
    <div class="c-reveal-block__desc">
      <h3 aria-hidden="true">{{ heading }}</h3>
      {{ copy | markdownify | safe }}
    </div>
  </li>
{% endmacro %}

<ul class="l-icon-grid">
{% for revealItem in section.subInc.content %}
  <!-- {{ revealItem.img }} -->
  {{ reveal(heading=revealItem.title, copy=revealItem.copy, image=revealItem.img) }}
{% endfor %}
</ul>