<ul class="c-vidgrid">
  {% for title, vid in section.subInc.videos %}
    <li>
      <h4 aria-hidden="true" id="{{ title }}">{{ title }}</h4>
      {% video vid, title %}
    </li>
  {% endfor %}
</ul>
