{% if compData %}
  {%- set sentences = compData.content %}
{% else %}
  {%- if section.include %}
    {%- set sentences = section.include.content %}
  {%- elseif section.subInc %}
    {%- set sentences = section.subInc.content %}
  {%- endif %}
{%- endif -%}

{#  Build answers list  #}
{%- set answerList = [] %}

{%- for answer, question in sentences | groupby('answer') %}
  {%- set x = answerList.push(answer.toLowerCase()) %}
{%- endfor %}

{%- set answerList = answerList | sort %}

{# Build options #}
{%- set options %}
  <option>---</option>
  {%- for answer in answerList %}
    <option value='{{ loop.index0 }}'>{{ answer | upper }}</option>
  {%- endfor %}
{%- endset %}

{% if section.subInc.noIntro %}
  <p>Add the correct words into the sentences that follow:</p>
{% endif %}

<div class="visually-hidden">
  <h3>Word Bank</h3>
  <ul>
    {%- for answer in answerList | sort %}
      <li>{{ answer | upper }}</li>
    {%- endfor %}
  </ul>
</div>

{# TODO: identify correct answer for each question #}
<form class="c-wordbank">
  <ol class="c-wordbank__questions">
    {%- for item in sentences %}
      {%- set word = item.answer | lower %}
      {%- set answerIndex = answerList.indexOf(word) %}

      {%- set id = 'q' + loop.index %}
      {%- set dropdown %}
        <select id="{{ id }}" name="{{ id }}" data-v2l-ai="{{ answerIndex }}" class="c-wordbank__options">
          {{ options | safe }}
        </select>
      {%- endset %}

      {%- set sentence = item.sentence | replace(item.answer, dropdown) | safe %}
      
      <li data-v2l-q="{{ loop.index }}">
        <label class="visually-hidden" for="{{ id }}">Select the correct word for question {{ loop.index }}</label>
        <p>
          {{ sentence }}
        </p>
      </li>
    {%- endfor %}
  </ol>
</form>
