---js
{
  unit: 1,
  session: 1,
  pagination: {
    data: "courses['understanding-autism']['01-introduction-to-autism']['01-understand-what-is-meant-by-autism']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---
<!-- {{ module.data.title }} -->
