---js
{
  unit: 4,
  session: 3,
  pagination: {
    data: "courses['understanding-autism']['04-sensory-processing-perception-and-cognition']['03-cognitive-differences-in-processing-information']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
