---js
{
  unit: 5,
  session: 1,
  pagination: {
    data: "courses['understanding-autism']['05-supporting-positive-behaviour']['01-understanding-behaviour']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
