---js
{
  unit: 6,
  session: 2,
  pagination: {
    data: "courses['understanding-autism']['06-support-to-live-healthy-and-fulfilled-lives']['02-maintaining-personal-safety']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
