---
eleventyNavigation:
  key: components
  parent: docs
  title: Components
permalink: /documentation/components/
layout: longform
---

<h1>Components</h1>

<p>
  The following components are available to increase interactivity and engagement on a page and throughout a course:
</p>

{{ collections.all | eleventyNavigation("components") | eleventyNavigationToHtml | safe }}
