---
layout: layouts/longform
permalink: docs/
test:
  - one
  - two
  - three
  - four
  - five
pagination: 
  data: test
  size: 10
---
{% set docs = collections.docs %}

<h1>Documentation..?</h1>
{{ pagination.hrefs | dump }}
{% for item in pagination.items %}
<p>{{item}}</p>
{% endfor %}

{% set items = [
        { name: 'james', type: 'green' },
        { name: 'john', type: 'blue' },
        { name: 'jim', type: 'blue' },
        { name: 'jessie', type: 'green' }
    ]
%}

{# {% for typex, bob in items | groupby("type") %}
    <b>{{ typex }}</b> :
    {% for item in bob %}
        {{ item.name }}
    {% endfor %}<br>
{% endfor %} #}



<ul>
  {% for doc in docs %}
  <li><a href="/docs/{{ doc.fileSlug | lower }}">{{ doc.fileSlug }}</a> {{ doc.data.tags  }}</li>
  {% endfor %}
</ul>
