---js
{
  unit: 3,
  session: 3,
  pagination: {
    data: "courses['leadership-and-team-skills']['03-workplace-diversity-and-legal-guidelines']['03-conflict-and-inappropriate-behaviour']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
