---js
{
  unit: 3,
  session: 2,
  pagination: {
    data: "courses['leadership-and-team-skills']['03-workplace-diversity-and-legal-guidelines']['02-organisational-polices-equality-and-diversity']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
