---js
{
  unit: 1,
  session: 1,
  pagination: {
    data: "courses['lean-management']['01-lean-organisation-techniques-in-business']['01-a-lean-environment']",
    size: 1,
    alias: "module",
    resolve: "values",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.title }} -->
