---
unit: 1
session: 2
pagination:
  data: courses['lean management']['01 lean organisation techniques in business']['02 The productivity needs analysis process']
  size: 1
  alias: module
  addAllPagesToCollections: true
---

<!-- {{ module.title }} -->
