---
unit: 2
session: 4
pagination:
  data: courses['lean management']['02 business improvement tools and techniques']['04 Eliminate variance from processes in the workplace']
  size: 1
  alias: module
  addAllPagesToCollections: true
---

<!-- {{ module.title }} -->
