---
unit: 2
session: 2
pagination:
  data: courses['lean-management']['02-business-improvement-tools-and-techniques']['02-principles-and-techniques-of-workplace-organisation']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.title }} -->
