---
unit: 2
session: 1
pagination:
  data: courses['lean management']['02 business improvement tools and techniques']['01 Continuous improvement techniques']
  size: 1
  alias: module
  addAllPagesToCollections: true
---

<!-- {{ module.title }} -->
