---
unit: 2
session: 3
pagination:
  data: courses['lean management']['02 business improvement tools and techniques']['03 Use visual indicators to improve the work environment']
  size: 1
  alias: module
  addAllPagesToCollections: true
---

<!-- {{ module.title }} -->
