---
unit: 3
session: 2
pagination:
  data: courses['lean management']['03 working in business teams']['02 Working effectively in a team']
  size: 1
  alias: module
  addAllPagesToCollections: true
---

<!-- {{ module.title }} -->
