---js
{
  folders: {
    course: "lean-management",
    unit: "03-working-in-business-teams",
    session: "02-working-effectively-in-a-team"
  },
  unit: 3,
  session: 2,
  pagination: {
    data: "courses['lean-management']['03-working-in-business-teams']['02-working-effectively-in-a-team']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.title }} -->
