---js
{
  folders: {
    course: "it-user-skills-level-2",
    unit: "01-word-processing-software",
    session: "06-document-quality-control"
  },
  unit: 1,
  session: 6,
  pagination: {
    data: "courses['it-user-skills-level-2']['01-word-processing-software']['06-document-quality-control']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
