---
unit: 1
session: 5
pagination:
  data: courses['it user skills level 2']['01 word processing software']['05 combining information']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->
