---js
{
  folders: {
    course: "it-user-skills-level-2",
    unit: "02-presentation-software",
    session: "02-managing-presentations"
  },
  unit: 2,
  session: 2,
  pagination: {
    data: "courses['it-user-skills-level-2']['02-presentation-software']['02-managing-presentations']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
