---js
{
  folders: {
    course: "it-user-skills-level-2",
    unit: "03-spreadsheet-software",
    session: "06-spreadsheet-quality-control"
  },
  unit: 3,
  session: 6,
  pagination: {
    data: "courses['it-user-skills-level-2']['03-spreadsheet-software']['06-spreadsheet-quality-control']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
