---
unit: 3
session: 5
pagination:
  data: courses['it-user-skills-level-2']['03-spreadsheet-software']['05-charts-and-graphs']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->
