---
unit: 3
session: 4
pagination:
  data: courses['it-user-skills-level-2']['03-spreadsheet-software']['04-formatting-and-presenting-data']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->
