---
unit: 3
session: 2
pagination:
  data: courses['it-user-skills-level-2']['03-spreadsheet-software']['02-managing-spreadsheets']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->
