---
unit: 3
session: 3
pagination:
  data: courses['it-user-skills-level-2']['03-spreadsheet-software']['03-analysing-data']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->
