---
layout: default
permalink: imagetest/index.html
---

<h1>{{ site.title }}</h1>

{% import "course-vars.njk" as courseVars %}

{% set modData = {
  "course": "business and administration",
  "unit": 1,
  "session": 1
} 
%}

<p>
  {# course vars: {{ courseVars.getCourseData(courseData=allcourses[modData.course]) }} #}
  {# {% set vars = courseVars.getCourseData(courseData=allcourses['business and administration']) %} #}
</p>

<p>
  UNIT: {{ courseVars.getUnit(moduleData=modData, courseData=allcourses[modData.course]) }}
</p>

<p>
  SESSIONS: {{ courseVars.getSessionName(moduleData=modData, courseData=allcourses[modData.course]) }}
</p>