---js
{
  unit: 2,
  session: 2,
  pagination: {
    data: "courses['cyber-security']['02-understand-terminology-used-in-cyber-security']['02-Understand current and emerging challenges in cyber security']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
