---js
{
  unit: 3,
  session: 2,
  pagination: {
    data: "courses['cyber-security']['03-understand-legal-and-ethical-aspects-of-cyber-security']['02-understand-procedures-to-maintain-data-confidentiality-and-security']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
