---js
{
  folders: {
    course: "business-and-administration",
    unit: "01-principles-of-personal-responsibilities-and-working-in-a-business-environment",
    session: "07-problems-at-work"
  },
  unit: 1,
  session: 7,
  pagination: {
    data: "courses['business-and-administration']['01-principles-of-personal-responsibilities-and-working-in-a-business-environment']['07-problems-at-work']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
