---
unit: 1
session: 3
pagination:
  data: courses['business administration']['01 principles of personal responsibilities and working in a business environment']['03 communicating effectively with others']
  size: 1
  alias: module
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->