---
unit: 2
session: 4
pagination:
  data: courses['business and administration']['02 principles of providing administrative services']['04 minimising waste at work']
  size: 1
  alias: module
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->