---
unit: 2
session: 8
pagination:
  data: courses['business and administration']['02 principles of providing administrative services']['08 delivering effective customer service']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->