---
unit: 2
session: 3
pagination:
  data: courses['business and administration']['02 principles of providing administrative services']['03 using different types of office equipment']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->