---
unit: 2
session: 9
pagination:
  data: courses['business administration']['02 principles of providing administrative services']['09 reception services and procedures']
  size: 1
  alias: module
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->