---js
{
  folders: {
    course: "business-and-administration",
    unit: "02-principles-of-providing-administrative-services",
    session: "01-using-the-telephone"
  },
  unit: 2,
  session: 1,
  pagination: {
    data: "courses['business-and-administration']['02-principles-of-providing-administrative-services']['01-using-the-telephone']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
