---js
{
  folders: {
    course: "business-and-administration",
    unit: "02-principles-of-providing-administrative-services",
    session: "03-using-different-types-of-office-equipment"
  },
  unit: 2,
  session: 3,
  pagination: {
    data: "courses['business-and-administration']['02-principles-of-providing-administrative-services']['03-using-different-types-of-office-equipment']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
