---
unit: 3
session: 1
pagination:
  data: courses['business and administration']['03 principles of managing information and producing documents']['01 it at work']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->