---js
{
  unit: 3,
  session: 4,
  pagination: {
    data: "courses['business-and-administration']['03-principles-of-managing-information-and-producing-documents']['04-key-procedures-for-producing-documents']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
