---
unit: 3
session: 4
pagination:
  data: courses['business administration']['03 principles of managing information and producing documents']['04 key procedures for producing documents']
  size: 1
  alias: module
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->