---
unit: 3
session: 3
pagination:
  data: courses['business and administration']['03 principles of managing information and producing documents']['03 getting your documents right']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->