---js
{
  unit: 4,
  session: 1,
  pagination: {
    data: "courses['business-and-administration']['04-principles-of-supporting-change-in-a-business-environment']['01-why-change-happens']",
    size: 1,
    alias: "module",
    resolve: "values",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
