---
unit: 4
session: 2
pagination:
  data: courses['business-and-administration']['04-principles-of-supporting-change-in-a-business-environment']['02-supporting-change']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->
