---
unit: 5
session: 1
pagination:
  data: courses['business and administration']['05 principles of supporting business events']['01 supporting business events']
  size: 1
  alias: module
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->