---js
{
  unit: 6,
  session: 2,
  pagination: {
    data: "courses['business-and-administration']['06-principles-of-budgets-in-a-business-environment']['02-developing-budgets']",
    size: 1,
    alias: "module",
    resolve: "values",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
