---js
{
  folders: {
    course: "business-and-administration",
    unit: "06-principles-of-budgets-in-a-business-environment",
    session: "02-developing-budgets"
  },
  unit: 6,
  session: 2,
  pagination: {
    data: "courses['business-and-administration']['06-principles-of-budgets-in-a-business-environment']['02-developing-budgets']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
