---
unit: 6
session: 3
pagination:
  data: courses['business administration']['06 principles of budgets in a business environment']['03 managing budgets']
  size: 1
  alias: module
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->