---
unit: 6
session: 2
pagination:
  data: courses['business administration']['06 principles of budgets in a business environment']['02 developing budgets']
  size: 1
  alias: module
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->