---
unit: 6
session: 1
pagination:
  data: courses['business administration']['06 principles of budgets in a business environment']['01 the purpose of budgets']
  size: 1
  alias: module
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->