---js
{
  layout: (process.env.ELEVENTY_ENV === 'dotnet') ? 'dotnet.njk' : 'prototype.njk'
}
---

{# 
    Logic for when on final page of section, unit etc

    Determine if we're linking to the next session or 
    the next unit or we're done
  #}

<h1>THIS LAYOUT HAS BEEN DEPRECATED</h1>
