---js
{
  layout: (process.env.ELEVENTY_ENV === 'dotnet') ? 'dotnet.njk' : 'prototype.njk'
}
---

{# 
    Logic for when on final page of section, unit etc

    Determine if we're linking to the next session or 
    the next unit or we're done
  #}

{%- if site.env == "dotnet" -%}
  {%- set tilde = "~" -%}
{%- endif -%}

{%- set unitNameFilter = "0" + unit -%}
{%- set sessionNameFilter = "0" + session -%}

{%- set courseData = courses[course] %}
{%- set unitCount = courses[course] | length %}
{%- set sortedData = courseData | dictsort %}
{%- set thisUnit = sortedData[0][unit - 1] %}
{%- set unitName = thisUnit | replace(unitNameFilter, "") | trim | capitalize -%}

{%- set sessions = courseData[thisUnit] | dictsort -%}
{%- set sessionCount = sessions | length -%}
{%- set thisSession = sessions[0][session - 1] %}
{%- set sessionName = thisSession | replace(sessionNameFilter, "") | trim | capitalize -%}

<!--
Unit {{ unit }} of {{ unitCount }}: {{ unitName}}<br>
Session {{ session }} of {{ sessionCount }}: {{ sessionName}}<br>
-->

{% if shortcode !== 'it2' %}
  {% set timeToWhat = 'Think'%}
{% else %}
  {% set timeToWhat = 'Practice'%}
{% endif %}

{%- if (session) < sessionCount %}
  {%- set nextSession = session + 1 %}
  {%- set nextUnit = unit %}
{%- else %}
  {%- set nextSession = 1 %}
  {%- set nextUnit = unit + 1 %}
{%- endif %}

{%- set lastPage = (pagination.pageNumber == pagination.hrefs.length - 1) %}

{%- import 'components/all.njk' as components %}
<!-- course-rev -->
{# BANNER #}
{%- include 'banner.njk' %}
{# /BANNER #}

{%- if pagination.pageNumber == 0 and session == 1 %}
  {# IMPORT Page 1 layout #}
  <!-- session1_page1 -->
  {# {%- include 'page-chunks/session1_page1.njk' %} #}
  

{# *********** START ************** #}

{%- elseif pagination.pageNumber == 1 and session == 1 and unit == 1 %}
  {# IMPORT Unit 1 Session 1 Page 2 layout #}
  <!-- unit1_session1_page2 -->
  {# {%- include 'page-chunks/unit1_session1_page2.njk' %} #}
{%- else %}
  {# NORMAL PAGES #}
  {# {%- include 'page-chunks/sections.njk' %} #}
  <!-- unit1_session1_page2 -->
  {%- if lastPage %}
  {# {%- include 'page-chunks/lastpage.njk' %} #}
    <!-- unit1_session1_page2 -->
  {%- endif -%}
{%- endif %}

{# ************* FIN **************** #}
