---
layout: default
#permalink: "courses/{{ module.course | slug }}/unit-{{ module.unit}}/session-{{ module.session }}/{{ pagination.pageNumber + 1}}/index.html"
permalink: "courses/new/{{ course | slug }}/unit-{{ unit}}/session-{{ session }}/{{ pagination.pageNumber + 1}}/index.html"
---

{%- import 'components/all.njk' as components %}

{%- include 'header.njk' %}

<main id="main" data-v2l-tags="{{ tags }}" data-v2l-course="{{ module.course }}" data-v2l-level="{{ module.level }}" data-v2l-unit="{{ module.unit }}" data-v2l-session="{{ module.session }}" data-v2l-page="{{ pagination.pageNumber }}">
  {{ content | safe }}
</main>

{% if page.url != '/login/' %}
  {{ components.pagination(class='t-bg-secondary1 boxout-small', pagination=pagination, page=page) }}
{% endif %}
<footer>
  <small>
    &copy; Copyright {{ site.v2l | safe }}, {{ site.date().year }}. All rights reserved (Env: {{ site.env }}). 
  </small>
</footer>
