---js
{
  unit: 1,
  session: 3,
  pagination: {
    data: "courses['young-peoples-mental-health']['01-understand-children-and-young-peoples-mental-health-in-context']['03-societys-view-of-mental-health']",
    size: 1,
    alias: "module",
    resolve: "values",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
