---js
{
  unit: 2,
  session: 2,
  pagination: {
    data: "courses['young-peoples-mental-health']['02-understand-factors-which-may-affect-children-and-young-peoples-mental-health']['02-understand-the-effects-of-puberty-and-developmental-changes']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---
<!-- {{ module.data.title }} -->
