---js
{
  unit: 3,
  session: 3,
  pagination: {
    data: "courses['young-peoples-mental-health']['03-understand-children-and-young-peoples-mental-health-concerns']['03-depression']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---
<!-- {{ module.data.title }} -->
