---js
{
  unit: 2,
  session: 3,
  pagination: {
    data: "courses['understanding-coding']['02-understand-terminology']['03-coding-acronyms-and-terminology']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---
<!-- {{ module.data.title }} -->
