---js
{
  unit: 2,
  session: 1,
  pagination: {
    data: "courses['understanding-coding']['02-understand-terminology']['01-understand-basic-computer-terminology']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---
<!-- {{ module.data.title }} -->
