---js
{
  unit: 2,
  session: 1,
  pagination: {
    data: "courses['understanding-coding']['02-unit-two']['01-session-one']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---
<!-- {{ module.data.title }} -->
