---js
{
  unit: 2,
  session: 2,
  pagination: {
    data: "courses['understanding-coding']['02-understand-terminology']['02-key-principles-when-writing-code']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---
<!-- {{ module.data.title }} -->
