---js
{
  unit: 5,
  session: 3,
  pagination: {
    data: "courses['understanding-coding']['05-project-management-and-communication']['03-project-management']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---
<!-- {{ module.data.title }} -->
