---js
{
  unit: 2,
  session: 6,
  pagination: {
    data: "courses['coding-practices-level-3']['02-coding-design']['06-importance-of-security-by-design']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
