---js
{
  unit: 3,
  session: 2,
  pagination: {
    data: "courses['coding-practices-level-3']['03-implementation-of-coding']['02-key-concepts-of-coding']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
