---js
{
  unit: 4,
  session: 2,
  pagination: {
    data: "courses['coding-practices-level-3']['04-software-testing']['02-test-driven-development']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
