---js
{
  folders: {
    course: "it-user-skills-level-1",
    unit: "01-word-processing-software",
    session: "02-getting-to-grips-with-word-processing"
  },
  unit: 1,
  session: 2,
  pagination: {
    data: "courses['it-user-skills-level-1']['01-word-processing-software']['02-getting-to-grips-with-word-processing']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
