---js
{
  unit: 3,
  session: 2,
  pagination: {
    data: "courses['it-user-skills-level-1']['03-presentation-software']['02-entering-data-in-a-presentation']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
