---js
{
  unit: 3,
  session: 3,
  pagination: {
    data: "courses['it-user-skills-level-1']['03-presentation-software']['03-more-presentation-skills']",
    size: 1,
    alias: "module",
    resolve: "values",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
