---
unit: 3
session: 1
pagination:
  data: courses['it-user-skills-level-1']['03-presentation-software']['01-setting-up-a-presentation']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->
