---
unit: 3
session: 2
pagination:
  data: courses['it user skills level 1']['03 presentation software']['02 entering data in a presentation']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->
