---js
{
  unit: 4,
  session: 4,
  pagination: {
    data: "courses['it-user-skills-level-1']['04-spreadsheet-software']['04-working-with-graphs-and-charts']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
