---js
{
  unit: 4,
  session: 2,
  pagination: {
    data: "courses['it-user-skills-level-1']['04-spreadsheet-software']['02-using-formulae-and-functions']",
    size: 1,
    alias: "module",
    resolve: "values",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
