---
unit: 4
session: 3
pagination:
  data: courses['it user skills level 1']['04 spreadsheet software']['03 formatting your spreadsheet']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->
