{% set sections = module.sections %}
{% if not module.sections %}
  {% set sections = examples.sections %}
{% endif %}
{%- for section in sections %}
  {#
    Only write out sections with data 
  #}
  {% if section.title %}
    {%- if section.theme == "i-quiz" and lastPage and (sessionCount == session) %}
      {{ section.title }}
    {% else %}
      {%- if section.include %}
      <!-- A -->
        {%- set inc = section.include.type | lower %}
        {%- include 'components/' + inc + '.njk' ignore missing %}
      {%- else %}
        <section id="{{ section.title | replace(' ', '-') | lower }}" {% if section.theme %} class="{{ section.theme }}"{% endif %}>
          {% if section.layout == "media" or section.layout == "media-rev" or section.layout == "media-half" %}

            {%- set mediaItem -%}
              {{- section.img if section.img -}}
              {{- section.video if section.video -}}
            {%- endset -%}
            
            {%- if section.activity -%}
              {{ components.media2(
                {
                  title: section.title,
                  copy: section.copy,
                  layout: section.layout,
                  media: {
                    link: section.activity.ref,
                    ref: 'activity'
                  }
                },
                site.env,
                course
              ) }}
            {%- else -%}
              {{ components.media2({
                  title: section.title,
                  copy: section.copy,
                  layout: section.layout,
                  media: {
                    ref: mediaItem,
                    link: section.link
                  }
                }, site.env) }}
            {%- endif -%}
          {% else %}
            <h2 id="{{ section.title | d('') | slug }}">{{ section.title }}</h2> 
            
            {%- if section.copy %}
              {{ section.copy | markdownify | safe }}
            {%- endif %}

            {%- if section.video %}
              <!-- sections.njk VIDEO! -->
              {% set mediaObj = section.video | lower %}
              {% set id = section.title | d('') | slug %}
              {% video mediaObj, id %}
            </video>
            {%- endif %}
            
            {%- if section.subInc %}
              {# Is this a basic or more complex include type? #}
              {# {%- set inc = section.subInc %} #}

              {%- set inc = section.subInc.type | lower %}
              
              {%- if inc %}
                {%- include 'components/' + inc + '.njk' %}
              {%- endif %}
            {% endif %}

            {%- if section.copy2 %}
              {{ section.copy2 | markdownify | safe }}
            {%- endif %}

            {%- if section.interactive %}
              {%- include 'components/animate-canvas.njk' %}
            {%- endif %}
          {% endif %}
        </section>
      {% endif%}  
    {% endif%}
  {% endif %}   
    {# {%- endblock section %} #}
{%- endfor %}
