{# Session 1 Page 1 #}

{%- if pagination.pageNumber == 0 and session == 1 %}
  {%- include 'components/unit-overview-tabs.njk' %}
{%- endif %}

{% if unit !== 1 %}
  {%- include 'page-chunks/sections.njk' %}
  
  {{ components.section({
    title: "Hints & Tips",
    copy: "Take a look at this unit's Hints and Tips booklet (which you can download) which will help you when you come to complete the assessment:\n\n[Unit " + unit + " Hints and Tips](" + tilde + "/pdfs/" + shortcode + "_u" + unit + "_s"+ session +"_p1_hints_u" + unit + ".pdf)",
    theme: "t-bg-primary2 i-read"
  }) }}

{% endif %}

<section>
  <h2>Course features</h2>
  {%- if not courseFeatures -%}
    {%- include "components/reveal.njk" %}
  {% else %}
    {# TODO: DRY this  #}
    <ul class="l-icon-grid">
      {%- for feature in courseFeatures %}
        {%- set featureCapitalized = feature | capitalize -%}
        {{ components.reveal({
            heading: featureCapitalized, 
            copy: defaultdata.courseFeatures[featureCapitalized].copy, 
            image: "course-features/" + defaultdata.courseFeatures[featureCapitalized].img
        }, site.env) }}
      {%- endfor %}
    </ul>
  {% endif %}
</section>
<section class="t-bg-primary">
{% set assTitle = "Submitting assessments" %}
{% set assVideo = "Submitting_Assessment_Recording.mp4" %}

{% if shortcode === 'it2' or shortcode === 'it1' %}
  {% set assTitle = "Using this site and submitting assessments" %}
  {% set assVideo = "it2_submitting_assessments.mp4" %}
{% endif %}

  {{ components.media2({
        title: assTitle,
        copy: "Once you’ve completed all assessment questions in a unit, you will need to send your completed assessment to your tutor. Watch this video to see how.",
        layout: "media-half",
        media: {
          ref: assVideo
        }
      },
      site.env
  ) }}
</section>
<section class="t-bg-primary3">
  {{ components.media2({
        title: "Time to " + timeToWhat,
        copy: "As you work through the course, you will be presented with a number of Time to " + timeToWhat + " boxes. Please watch this video which will show you how to use these and why they are important.",
        layout: "media-half",
        media: {
          ref: shortcode + "-time-to-think.mp4"
        }
      },
      site.env
  ) }}
</section>
