---
layout: longform.njk
permalink: /login/index.html
inReview: understanding-autism
startingUnit: 4
---
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<style>
  

  img {
    display: block;
    margin-top: 1.5rem;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

</style>

<section>
  <h2>Please log in to view the course preview</h2>

  <div class="button" data-netlify-identity-button></div>

  <h3>Courses for preview</h3>
  <ul>
  {% for course, unit in courses %}
    {% if course === inReview %}
    <li><a href="/courses/{{ course }}/{{ startingUnit }}/1/1">{{ course | replace('-', ' ') | formattitle }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
  <h3>Submitting Feedback</h3>

  <p>Please use the Feedback button (displayed at the top of all pages) to log issues:</p>

  <div class="feedback-container">
    <img src="/images/feedback1.png" alt="The feedback button is in the top right of each page">

    <p>This will open the feedback form in an overlay window. Please enter as much information as you can and attach screenshots if applicable.</p>

    <p>The feedback form automatically logs information on the page you're currently on and the web browser/operating system you're using so there is no need to enter this information.</p>
    <img src="/images/feedback2.png" alt="">
  </div>

  <p>
    <a class="button" href="/courses/understanding-autism/1/1/1" target="_blank">Proceed to Course</a>
  </p>
</section>
