---
layout: layouts/prototype.njk
permalink: /login/index.html
---
<style>
  html,
  body,
  .l-wrapper {
    height: 100%;
  }

  .l-wrapper {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    align-content: start;
  }
</style>

<section>
  <h2>Please log in to view the course preview</h2>
  <div data-netlify-identity-button></div>
  
  <p>
    <a href="/courses/it-user-skills-level-2/unit-1/session-1/1" target="_blank">Proceed to Unit 1</a>
  </p>
  <p>
    <a href="/courses/it-user-skills-level-2/unit-2/session-1/1" target="_blank">Proceed to Unit 2</a>
  </p>
  <p>
    <small>Site updated: {{ site.date().build }}</small>
  </p>
</section>
