---
layout: longform.liquid
permalink: "/playground/index.html"
---
<style>
body {
  color: darkgrey;
}

summary > h2,
summary > h3 {
  display: inline-block;
}

</style>

{%- set unit =  1 -%}
{%- set session =  2 -%}
{%- set unitNameFilter = "0" + unit -%}
{%- set sessionNameFilter = "0" + session -%}
{%- set course =  'business and administration' -%}

{%- set courseData = courses[course] %}
{%- set unitCount = courses[course] | length %}
{%- set sortedData = courseData | dictsort %}
{%- set thisUnit = sortedData[unit - 1][0] %}
{%- set unitName = thisUnit | replace(unitNameFilter, "") | trim | capitalize -%}
{%- set sessions = courseData[thisUnit] | dictsort -%}
{%- set sessionCount = sessions | length -%}
{%- set thisSession = sessions[session - 1][0] %}
{%- set sessionName = thisSession | replace(sessionNameFilter, "") | trim | capitalize -%} 
{# 
#}

<h1>Playground</h1>

{{ 1 | log }}
{{ unitCount | log }}
{{ 2 | log }}
{{ sortedData | log }}
{{ 3 | log }}
{{ thisUnit | log }}
{{ 4 | log }}
{{ unitName | log }}
{{ 5 | log }}
{{ sessions | log }}
{{ 6 | log }}
{{ sessionCount | log }}
{{ 7 | log }}
{{ thisSession | log }}
{{ 8 | log }}
{{ sessionName | log }}

{% for page, data in courses['business and administration']['01 principles of personal responsibilities and working in a business environment']['02 health, safety and security'] %}
  <p>{{ page }}</p>
  <p>{{ data.title }}</p>
{% endfor %}

{# {% for course, units in courses %}
  <h2>{{ course | capitalize }}</h2>
  <ul>
    {% for unit, sessions in units | dictsort %}
      <li>
        <details>
          <summary>
            <h3>{{ unit | replace('-', ' ') | capitalize }}</h3>
          </summary>
          <ul>
            {% for session, pages in sessions | dictsort %}
              <li>
                {{ session | replace('-', ' ') | capitalize }}
                <ul>
                  {% for page,data in pages | dictsort %}
                    <li>
                      Page {{ page }}: 
                      {{ data.title }}
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </details>
      </li>
    {% endfor %}
  </ul>
{% endfor %} #}
{# <section>
  <div data-netlify-identity-menu></div>
  <h2>{{ site.v2l }} Courses {{ courses["lean"].unit-1.session-1.01.title }}</h2>

  {# <ul>
  {%- for unit in courses.lean -%}
    {%- for session in unit -%}
      {%- for page in session -%}
        <li>HELLO: {{ page }}</li>
      {%- endfor -%}
    {%- endfor -%}
  {%- endfor -%}
  </ul>


  <p>
    <small>Site updated: {{ "now" | date: "%A, %d %B %Y %H:%M" }}</small>
  </p>
</section> #}
