---js
{
  unit: 1,
  session: 2,
  pagination: {
    data: "courses['business-improvement-techniques']['01-safe-and-effective-team-working']['02-effective-team-working']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---
<!-- {{ module.data.title }} -->
