---js
{
  unit: 3,
  session: 1,
  pagination: {
    data: "courses['business-improvement-techniques']['03-continuous-improvement-techniques']['01-understand-continuous-improvement-techniques']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---
<!-- {{ module.data.title }} -->
