---js
{
  unit: 5,
  session: 1,
  pagination: {
    data: "courses['business-improvement-techniques']['05-problem-solving']['01-problem-solving']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---
<!-- {{ module.data.title }} -->
