---
unit: 1
session: 1
pagination:
  data: courses['nutrition-and-health']['01-the-principles-of-healthy-eating']['01-diet-and-health']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->
