---js
{
  unit: 1,
  session: 2,
  pagination: {
    data: "courses['nutrition-and-health']['01-the-principles-of-healthy-eating']['02-energy-and-activity']",
    size: 1,
    alias: "moduleNum",
    addAllPagesToCollections: true,
    before: function(data) {
      return data.sort();
    }
  }
}
---

<!-- {{ module.data.title }} -->
