---
unit: 1
session: 3
pagination:
  data: courses['nutrition-and-health']['01-the-principles-of-healthy-eating']['03-components-of-a-healthy-diet']
  size: 1
  alias: module
  resolve: values
  addAllPagesToCollections: true
---

<!-- {{ module.data.title }} -->
